<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.user.mapper.TbCsmPartyMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.user.bean.TbCsmParty">
    <id column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="PARTY_NUM" jdbcType="VARCHAR" property="partyNum" />
    <result column="PARTY_TYPE_CD" jdbcType="VARCHAR" property="partyTypeCd" />
    <result column="PARTY_NAME" jdbcType="VARCHAR" property="partyName" />
    <result column="ECIF_PARTY_NUM" jdbcType="VARCHAR" property="ecifPartyNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="EXAMINE_STATE" jdbcType="VARCHAR" property="examineState" />
    <result column="CUST_PROPERTY_STATUS" jdbcType="VARCHAR" property="custPropertyStatus" />
    <result column="IF_DATA_MOVE" jdbcType="VARCHAR" property="ifDataMove" />
    <result column="IS_POTENTIAL_CUST" jdbcType="VARCHAR" property="isPotentialCust" />
    <result column="LEG_ORG" jdbcType="VARCHAR" property="legOrg" />
  </resultMap>
  <sql id="Base_Column_List">
    PARTY_ID, PARTY_NUM, PARTY_TYPE_CD, PARTY_NAME, ECIF_PARTY_NUM, CREATE_TIME, UPDATE_TIME, 
    EXAMINE_STATE, CUST_PROPERTY_STATUS, IF_DATA_MOVE, IS_POTENTIAL_CUST, LEG_ORG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CSM_PARTY
    where PARTY_ID = #{partyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CSM_PARTY
    where PARTY_ID = #{partyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    insert into TB_CSM_PARTY (PARTY_ID, PARTY_NUM, PARTY_TYPE_CD, 
      PARTY_NAME, ECIF_PARTY_NUM, CREATE_TIME, 
      UPDATE_TIME, EXAMINE_STATE, CUST_PROPERTY_STATUS, 
      IF_DATA_MOVE, IS_POTENTIAL_CUST, LEG_ORG
      )
    values (#{partyId,jdbcType=VARCHAR}, #{partyNum,jdbcType=VARCHAR}, #{partyTypeCd,jdbcType=VARCHAR}, 
      #{partyName,jdbcType=VARCHAR}, #{ecifPartyNum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{examineState,jdbcType=VARCHAR}, #{custPropertyStatus,jdbcType=VARCHAR}, 
      #{ifDataMove,jdbcType=VARCHAR}, #{isPotentialCust,jdbcType=VARCHAR}, #{legOrg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    insert into TB_CSM_PARTY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        PARTY_ID,
      </if>
      <if test="partyNum != null">
        PARTY_NUM,
      </if>
      <if test="partyTypeCd != null">
        PARTY_TYPE_CD,
      </if>
      <if test="partyName != null">
        PARTY_NAME,
      </if>
      <if test="ecifPartyNum != null">
        ECIF_PARTY_NUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="examineState != null">
        EXAMINE_STATE,
      </if>
      <if test="custPropertyStatus != null">
        CUST_PROPERTY_STATUS,
      </if>
      <if test="ifDataMove != null">
        IF_DATA_MOVE,
      </if>
      <if test="isPotentialCust != null">
        IS_POTENTIAL_CUST,
      </if>
      <if test="legOrg != null">
        LEG_ORG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="partyNum != null">
        #{partyNum,jdbcType=VARCHAR},
      </if>
      <if test="partyTypeCd != null">
        #{partyTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="partyName != null">
        #{partyName,jdbcType=VARCHAR},
      </if>
      <if test="ecifPartyNum != null">
        #{ecifPartyNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineState != null">
        #{examineState,jdbcType=VARCHAR},
      </if>
      <if test="custPropertyStatus != null">
        #{custPropertyStatus,jdbcType=VARCHAR},
      </if>
      <if test="ifDataMove != null">
        #{ifDataMove,jdbcType=VARCHAR},
      </if>
      <if test="isPotentialCust != null">
        #{isPotentialCust,jdbcType=VARCHAR},
      </if>
      <if test="legOrg != null">
        #{legOrg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    update TB_CSM_PARTY
    <set>
      <if test="partyNum != null">
        PARTY_NUM = #{partyNum,jdbcType=VARCHAR},
      </if>
      <if test="partyTypeCd != null">
        PARTY_TYPE_CD = #{partyTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="partyName != null">
        PARTY_NAME = #{partyName,jdbcType=VARCHAR},
      </if>
      <if test="ecifPartyNum != null">
        ECIF_PARTY_NUM = #{ecifPartyNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineState != null">
        EXAMINE_STATE = #{examineState,jdbcType=VARCHAR},
      </if>
      <if test="custPropertyStatus != null">
        CUST_PROPERTY_STATUS = #{custPropertyStatus,jdbcType=VARCHAR},
      </if>
      <if test="ifDataMove != null">
        IF_DATA_MOVE = #{ifDataMove,jdbcType=VARCHAR},
      </if>
      <if test="isPotentialCust != null">
        IS_POTENTIAL_CUST = #{isPotentialCust,jdbcType=VARCHAR},
      </if>
      <if test="legOrg != null">
        LEG_ORG = #{legOrg,jdbcType=VARCHAR},
      </if>
    </set>
    where PARTY_ID = #{partyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    update TB_CSM_PARTY
    set PARTY_NUM = #{partyNum,jdbcType=VARCHAR},
      PARTY_TYPE_CD = #{partyTypeCd,jdbcType=VARCHAR},
      PARTY_NAME = #{partyName,jdbcType=VARCHAR},
      ECIF_PARTY_NUM = #{ecifPartyNum,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      EXAMINE_STATE = #{examineState,jdbcType=VARCHAR},
      CUST_PROPERTY_STATUS = #{custPropertyStatus,jdbcType=VARCHAR},
      IF_DATA_MOVE = #{ifDataMove,jdbcType=VARCHAR},
      IS_POTENTIAL_CUST = #{isPotentialCust,jdbcType=VARCHAR},
      LEG_ORG = #{legOrg,jdbcType=VARCHAR}
    where PARTY_ID = #{partyId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cdgit.loan.user.bean.TbCsmParty">
    <id column="PARTY_ID" jdbcType="VARCHAR" property="PARTY_ID" />
    <result column="PARTY_NUM" jdbcType="VARCHAR" property="PARTY_NUM" />
    <result column="PARTY_TYPE_CD" jdbcType="VARCHAR" property="PARTY_TYPE_CD" />
    <result column="PARTY_NAME" jdbcType="VARCHAR" property="PARTY_NAME" />
    <result column="ECIF_PARTY_NUM" jdbcType="VARCHAR" property="ECIF_PARTY_NUM" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="CREATE_TIME" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="UPDATE_TIME" />
    <result column="EXAMINE_STATE" jdbcType="VARCHAR" property="EXAMINE_STATE" />
    <result column="CUST_PROPERTY_STATUS" jdbcType="VARCHAR" property="CUST_PROPERTY_STATUS" />
    <result column="IF_DATA_MOVE" jdbcType="VARCHAR" property="IF_DATA_MOVE" />
    <result column="IS_POTENTIAL_CUST" jdbcType="VARCHAR" property="IS_POTENTIAL_CUST" />
    <result column="LEG_ORG" jdbcType="VARCHAR" property="LEG_ORG" />
  </resultMap>
  <sql id="Base_Column_List">
    PARTY_ID, PARTY_NUM, PARTY_TYPE_CD, PARTY_NAME, ECIF_PARTY_NUM, CREATE_TIME, UPDATE_TIME, 
    EXAMINE_STATE, CUST_PROPERTY_STATUS, IF_DATA_MOVE, IS_POTENTIAL_CUST, LEG_ORG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CSM_PARTY
    where PARTY_ID = #{PARTY_ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CSM_PARTY
    where PARTY_ID = #{PARTY_ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    insert into TB_CSM_PARTY (PARTY_ID, PARTY_NUM, PARTY_TYPE_CD, 
      PARTY_NAME, ECIF_PARTY_NUM, CREATE_TIME, 
      UPDATE_TIME, EXAMINE_STATE, CUST_PROPERTY_STATUS, 
      IF_DATA_MOVE, IS_POTENTIAL_CUST, LEG_ORG
      )
    values (#{PARTY_ID,jdbcType=VARCHAR}, #{PARTY_NUM,jdbcType=VARCHAR}, #{PARTY_TYPE_CD,jdbcType=VARCHAR}, 
      #{PARTY_NAME,jdbcType=VARCHAR}, #{ECIF_PARTY_NUM,jdbcType=VARCHAR}, #{CREATE_TIME,jdbcType=TIMESTAMP}, 
      #{UPDATE_TIME,jdbcType=TIMESTAMP}, #{EXAMINE_STATE,jdbcType=VARCHAR}, #{CUST_PROPERTY_STATUS,jdbcType=VARCHAR}, 
      #{IF_DATA_MOVE,jdbcType=VARCHAR}, #{IS_POTENTIAL_CUST,jdbcType=VARCHAR}, #{LEG_ORG,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    insert into TB_CSM_PARTY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="PARTY_ID != null">
        PARTY_ID,
      </if>
      <if test="PARTY_NUM != null">
        PARTY_NUM,
      </if>
      <if test="PARTY_TYPE_CD != null">
        PARTY_TYPE_CD,
      </if>
      <if test="PARTY_NAME != null">
        PARTY_NAME,
      </if>
      <if test="ECIF_PARTY_NUM != null">
        ECIF_PARTY_NUM,
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME,
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME,
      </if>
      <if test="EXAMINE_STATE != null">
        EXAMINE_STATE,
      </if>
      <if test="CUST_PROPERTY_STATUS != null">
        CUST_PROPERTY_STATUS,
      </if>
      <if test="IF_DATA_MOVE != null">
        IF_DATA_MOVE,
      </if>
      <if test="IS_POTENTIAL_CUST != null">
        IS_POTENTIAL_CUST,
      </if>
      <if test="LEG_ORG != null">
        LEG_ORG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="PARTY_ID != null">
        #{PARTY_ID,jdbcType=VARCHAR},
      </if>
      <if test="PARTY_NUM != null">
        #{PARTY_NUM,jdbcType=VARCHAR},
      </if>
      <if test="PARTY_TYPE_CD != null">
        #{PARTY_TYPE_CD,jdbcType=VARCHAR},
      </if>
      <if test="PARTY_NAME != null">
        #{PARTY_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ECIF_PARTY_NUM != null">
        #{ECIF_PARTY_NUM,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null">
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_TIME != null">
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="EXAMINE_STATE != null">
        #{EXAMINE_STATE,jdbcType=VARCHAR},
      </if>
      <if test="CUST_PROPERTY_STATUS != null">
        #{CUST_PROPERTY_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="IF_DATA_MOVE != null">
        #{IF_DATA_MOVE,jdbcType=VARCHAR},
      </if>
      <if test="IS_POTENTIAL_CUST != null">
        #{IS_POTENTIAL_CUST,jdbcType=VARCHAR},
      </if>
      <if test="LEG_ORG != null">
        #{LEG_ORG,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    update TB_CSM_PARTY
    <set>
      <if test="PARTY_NUM != null">
        PARTY_NUM = #{PARTY_NUM,jdbcType=VARCHAR},
      </if>
      <if test="PARTY_TYPE_CD != null">
        PARTY_TYPE_CD = #{PARTY_TYPE_CD,jdbcType=VARCHAR},
      </if>
      <if test="PARTY_NAME != null">
        PARTY_NAME = #{PARTY_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ECIF_PARTY_NUM != null">
        ECIF_PARTY_NUM = #{ECIF_PARTY_NUM,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="EXAMINE_STATE != null">
        EXAMINE_STATE = #{EXAMINE_STATE,jdbcType=VARCHAR},
      </if>
      <if test="CUST_PROPERTY_STATUS != null">
        CUST_PROPERTY_STATUS = #{CUST_PROPERTY_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="IF_DATA_MOVE != null">
        IF_DATA_MOVE = #{IF_DATA_MOVE,jdbcType=VARCHAR},
      </if>
      <if test="IS_POTENTIAL_CUST != null">
        IS_POTENTIAL_CUST = #{IS_POTENTIAL_CUST,jdbcType=VARCHAR},
      </if>
      <if test="LEG_ORG != null">
        LEG_ORG = #{LEG_ORG,jdbcType=VARCHAR},
      </if>
    </set>
    where PARTY_ID = #{PARTY_ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.user.bean.TbCsmParty">
    update TB_CSM_PARTY
    set PARTY_NUM = #{PARTY_NUM,jdbcType=VARCHAR},
      PARTY_TYPE_CD = #{PARTY_TYPE_CD,jdbcType=VARCHAR},
      PARTY_NAME = #{PARTY_NAME,jdbcType=VARCHAR},
      ECIF_PARTY_NUM = #{ECIF_PARTY_NUM,jdbcType=VARCHAR},
      CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      EXAMINE_STATE = #{EXAMINE_STATE,jdbcType=VARCHAR},
      CUST_PROPERTY_STATUS = #{CUST_PROPERTY_STATUS,jdbcType=VARCHAR},
      IF_DATA_MOVE = #{IF_DATA_MOVE,jdbcType=VARCHAR},
      IS_POTENTIAL_CUST = #{IS_POTENTIAL_CUST,jdbcType=VARCHAR},
      LEG_ORG = #{LEG_ORG,jdbcType=VARCHAR}
    where PARTY_ID = #{PARTY_ID,jdbcType=VARCHAR}
  </update>
</mapper>