<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbConSubcontractRelMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.bean.CsmTbConSubcontractRel">
    <id column="CON_SUBCON_ID" jdbcType="VARCHAR" property="conSubconId" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="SUBCONTRACT_ID" jdbcType="VARCHAR" property="subcontractId" />
    <result column="IF_EFFECTIVE" jdbcType="VARCHAR" property="ifEffective" />
    <result column="SURETY_AMT" jdbcType="DECIMAL" property="suretyAmt" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="OPERATION_TYPE" jdbcType="VARCHAR" property="operationType" />
    <result column="SUBCONTRACT_ID_BACKUPS" jdbcType="VARCHAR" property="subcontractIdBackups" />
    <result column="SUBCONTRACT_AMT" jdbcType="DECIMAL" property="subcontractAmt" />
  </resultMap>
  <sql id="Base_Column_List">
    CON_SUBCON_ID, CONTRACT_ID, SUBCONTRACT_ID, IF_EFFECTIVE, SURETY_AMT, CREATE_TIME, 
    UPDATE_TIME, OPERATION_TYPE, SUBCONTRACT_ID_BACKUPS, SUBCONTRACT_AMT
  </sql>
  
</mapper>