<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbBizApproveMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.bean.CsmTbBizApprove">
    <id column="APPROVE_ID" jdbcType="VARCHAR" property="approveId" />
    <result column="BIZ_NUM" jdbcType="VARCHAR" property="bizNum" />
    <result column="BIZ_TYPE" jdbcType="VARCHAR" property="bizType" />
    <result column="LOW_RISK_BIZ_TYPE" jdbcType="VARCHAR" property="lowRiskBizType" />
    <result column="APPLY_MODE_TYPE" jdbcType="VARCHAR" property="applyModeType" />
    <result column="BIZ_HAPPEN_TYPE" jdbcType="VARCHAR" property="bizHappenType" />
    <result column="ORG_NUM" jdbcType="VARCHAR" property="orgNum" />
    <result column="USER_NUM" jdbcType="VARCHAR" property="userNum" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="BUSINESS_PRODUCT" jdbcType="VARCHAR" property="businessProduct" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="APPLY_DATE" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="HANDING_DATE" jdbcType="TIMESTAMP" property="handingDate" />
    <result column="AMOUNT_TYPE" jdbcType="VARCHAR" property="amountType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CSM_CRD_LEVEL" jdbcType="VARCHAR" property="csmCrdLevel" />
    <result column="APPROVAL_NUM" jdbcType="VARCHAR" property="approvalNum" />
    <result column="BECOME_EFFECTIVE_MARK" jdbcType="VARCHAR" property="becomeEffectiveMark" />
    <result column="ORIGINAL_APPROVE_ID" jdbcType="VARCHAR" property="originalApproveId" />
    <result column="IS_BANK_TEAM_LOAN" jdbcType="VARCHAR" property="isBankTeamLoan" />
    <result column="LOAN_INSPECTION_FRE" jdbcType="DECIMAL" property="loanInspectionFre" />
    <result column="POLICY_DECISION_IDEA" jdbcType="VARCHAR" property="policyDecisionIdea" />
    <result column="VALID_DATE" jdbcType="TIMESTAMP" property="validDate" />
    <result column="POLICY_DECISION_NUM" jdbcType="VARCHAR" property="policyDecisionNum" />
    <result column="APPLY_TYPE_MARK" jdbcType="VARCHAR" property="applyTypeMark" />
    <result column="APPROVE_CONCLUSION" jdbcType="VARCHAR" property="approveConclusion" />
    <result column="END_ORG_NUM" jdbcType="VARCHAR" property="endOrgNum" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="IF_DATA_MOVE" jdbcType="VARCHAR" property="ifDataMove" />
    <result column="APPLY_ID" jdbcType="VARCHAR" property="applyId" />
    <result column="BIZ_HAPPEN_NATURE" jdbcType="VARCHAR" property="bizHappenNature" />
    <result column="IS_GREEN_LOAN" jdbcType="VARCHAR" property="isGreenLoan" />
    <result column="LOAN_TYPE" jdbcType="VARCHAR" property="loanType" />
    <result column="BIZ_TYPE_FLAG" jdbcType="VARCHAR" property="bizTypeFlag" />
    <result column="GUARANTY_TYPE" jdbcType="VARCHAR" property="guarantyType" />
    <result column="TERM_NUM" jdbcType="DECIMAL" property="termNum" />
    <result column="TERM_UNIT" jdbcType="VARCHAR" property="termUnit" />
    <result column="RMB_AMT" jdbcType="DECIMAL" property="rmbAmt" />
    <result column="BO_USE" jdbcType="DECIMAL" property="boUse" />
    <result column="NO_USE" jdbcType="DECIMAL" property="noUse" />
    <result column="CRD_ID" jdbcType="VARCHAR" property="crdId" />
    <result column="CREDIT_MODE" jdbcType="VARCHAR" property="creditMode" />
  </resultMap>
  <sql id="Base_Column_List">
    APPROVE_ID, BIZ_NUM, BIZ_TYPE, LOW_RISK_BIZ_TYPE, APPLY_MODE_TYPE, BIZ_HAPPEN_TYPE, 
    ORG_NUM, USER_NUM, PARTY_ID, BUSINESS_PRODUCT, PRODUCT_TYPE, APPLY_DATE, HANDING_DATE, 
    AMOUNT_TYPE, CREATE_TIME, UPDATE_TIME, CSM_CRD_LEVEL, APPROVAL_NUM, BECOME_EFFECTIVE_MARK, 
    ORIGINAL_APPROVE_ID, IS_BANK_TEAM_LOAN, LOAN_INSPECTION_FRE, POLICY_DECISION_IDEA, 
    VALID_DATE, POLICY_DECISION_NUM, APPLY_TYPE_MARK, APPROVE_CONCLUSION, END_ORG_NUM, 
    END_DATE, IF_DATA_MOVE, APPLY_ID, BIZ_HAPPEN_NATURE, IS_GREEN_LOAN, LOAN_TYPE, BIZ_TYPE_FLAG, 
    GUARANTY_TYPE, TERM_NUM, TERM_UNIT, RMB_AMT, BO_USE, NO_USE, CRD_ID, CREDIT_MODE
  </sql>
  
</mapper>