<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.contract.mapper.CrtTbLoanLdzjMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.contract.bean.CrtTbLoanLdzj">
    <id column="APPLY_DETAIL_ID" jdbcType="VARCHAR" property="applyDetailId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="LOAN_ID" jdbcType="VARCHAR" property="loanId" />
    <result column="JMRHSX" jdbcType="VARCHAR" property="jmrhsx" />
    <result column="SFJMRHSX" jdbcType="VARCHAR" property="sfjmrhsx" />
  </resultMap>
  <sql id="Base_Column_List">
    APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, AMOUNT_DETAIL_ID, CONTRACT_ID, LOAN_ID, 
    JMRHSX, SFJMRHSX
  </sql>
  <select id="selectLoanLdzjByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRMS.TB_LOAN_LDZJ
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </select>

  <insert id="insertLoanLdzjSelective" parameterType="com.cdgit.loan.contract.bean.CrtTbLoanLdzj">
    insert into CRMS.TB_LOAN_LDZJ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        APPLY_DETAIL_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="loanId != null">
        LOAN_ID,
      </if>
      <if test="jmrhsx != null">
        JMRHSX,
      </if>
      <if test="sfjmrhsx != null">
        SFJMRHSX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        #{applyDetailId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null">
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="jmrhsx != null">
        #{jmrhsx,jdbcType=VARCHAR},
      </if>
      <if test="sfjmrhsx != null">
        #{sfjmrhsx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateLoanLdzj" parameterType="com.cdgit.loan.contract.bean.CrtTbLoanLdzj">
    update CRMS.TB_LOAN_LDZJ
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null">
        LOAN_ID = #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="jmrhsx != null">
        JMRHSX = #{jmrhsx,jdbcType=VARCHAR},
      </if>
      <if test="sfjmrhsx != null">
        SFJMRHSX = #{sfjmrhsx,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
</mapper>