<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.afterloan.afterloancheck.mapper.ChDailycheckMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.afterloan.afterloancheck.resultbean.BorListResult">
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="PARTY_NUM" jdbcType="VARCHAR" property="partyNum" />
    <result column="CORP_CUSTOMER_TYPE_CD" jdbcType="VARCHAR" property="corpCustomerTypeCd" />
    <result column="PARTY_TYPE_CD" jdbcType="VARCHAR" property="partyTypeCd" />
    <result column="PARTY_NAME" jdbcType="VARCHAR" property="partyName" />
    <result column="ENGLISH_NAME" jdbcType="TIMESTAMP" property="englishName" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_NUM" jdbcType="VARCHAR" property="certNum" />
    <result column="LOAN_ID" jdbcType="VARCHAR" property="loanId" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="SUMMARY_ID" jdbcType="DECIMAL" property="summaryId" />
    <result column="SUMMARY_NUM" jdbcType="VARCHAR" property="summaryNum" />
    <result column="SUMMARY_AMT" jdbcType="VARCHAR" property="summaryAmt" />
    <result column="JJYE" jdbcType="TIMESTAMP" property="jjye" />
    <result column="BEGIN_DATE" jdbcType="VARCHAR" property="beginDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="CONTRACT_NUM" jdbcType="VARCHAR" property="contractNum" />
    <result column="CHECK_STATUS" jdbcType="TIMESTAMP" property="checkStatus" />
    <result column="FINISH_DES" jdbcType="VARCHAR" property="finishDes" />
    <result column="USER_NUM" jdbcType="VARCHAR" property="userNum" />
    <result column="ORG_NUM" jdbcType="VARCHAR" property="orgNum" />
    <result column="RECEIPT_NUM" jdbcType="VARCHAR" property="receiptNum" />
    <result column="AMT" jdbcType="VARCHAR" property="amt" />
    <result column="AVA" jdbcType="VARCHAR" property="ava" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="BALANCE" jdbcType="VARCHAR" property="balance" />
  </resultMap>
	<!-- 查询可做日常检查的客户信息列表 -->
  <select id="selectDailycheckCust" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT * FROM (
	    	SELECT P.PARTY_ID,
			       P.PARTY_NUM,
			       CC.CORP_CUSTOMER_TYPE_CD,
			       P.PARTY_TYPE_CD,
			       P.PARTY_NAME,
			       CC.ENGLISH_NAME,
			       (CASE
			         WHEN P.PARTY_TYPE_CD = '01' THEN
			          '202'
			         WHEN P.PARTY_TYPE_CD = '02' THEN
			          NP.CERT_TYPE
			         ELSE
			          ''
			       END) AS CERT_TYPE,
			       (CASE
			         WHEN P.PARTY_TYPE_CD = '01' THEN
			          CC.ORG_REGISTER_CD
			         WHEN P.PARTY_TYPE_CD = '02' THEN
			          NP.CERT_NUM
			         ELSE
			          ''
			       END) AS CERT_NUM,
			       AA.AMT,
			       AA.AVA,
			       AA.BALANCE BALANCE1,
			       Y.JJYE BALANCE,
			       TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS SYS_DATE,
			       TO_CHAR(X.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
			  FROM TB_CSM_PARTY P
			  LEFT JOIN TB_CSM_CORPORATION CC ON CC.PARTY_ID = P.PARTY_ID
			  LEFT JOIN TB_CSM_NATURAL_PERSON NP ON NP.PARTY_ID = P.PARTY_ID
			  LEFT JOIN (SELECT NC.PARTY_ID PARTY_ID, MAX(NC.CREATE_DATE) CREATE_DATE
			               FROM TB_AFT_NORMAL_CHECK NC
			              WHERE NC.CHECK_STATUS = '03'
			              GROUP BY NC.PARTY_ID) X ON X.PARTY_ID = P.PARTY_ID,
			 TB_CSM_MANAGEMENT_TEAM MT,
			 (SELECT A.PARTY_ID,
                     SUM(C.CREDIT_AMOUNT) AMT,
                     SUM(C.CREDIT_AVI) AVA,
                     (SUM(C.CREDIT_AMOUNT)-SUM(C.CREDIT_AVI)) BALANCE
                FROM TB_BIZ_APPROVE        A,
                     TB_BIZ_AMOUNT_APPROVE C
               WHERE A.APPROVE_ID = C.APPROVE_ID
                 AND A.APPROVE_CONCLUSION = '1'
                 AND A.BECOME_EFFECTIVE_MARK = '03'
                 <!--AND (A.LOW_RISK_BIZ_TYPE IS NULL OR
                     A.LOW_RISK_BIZ_TYPE = '')-->
                 AND EXISTS
               (SELECT 1
                        FROM TB_LOAN_INFO    LI,
                             TB_LOAN_SUMMARY LS
                       WHERE LI.LOAN_ID =
                             LS.LOAN_ID
                         AND LI.PARTY_ID =
                             A.PARTY_ID
                         AND LS.SUMMARY_STATUS_CD IN
                             ('02', '03'))
               GROUP BY A.PARTY_ID) AA,
			  (SELECT TLI.PARTY_ID,
		               SUM(TLS.JJYE) JJYE
		          FROM TB_LOAN_INFO    TLI,
		               TB_LOAN_SUMMARY TLS
		         WHERE TLI.LOAN_ID = TLS.LOAN_ID
		           AND TLS.SUMMARY_STATUS_CD IN
		               ('02', '03')
		         GROUP BY TLI.PARTY_ID) Y          
			 WHERE 1 = 1
			   AND P.PARTY_ID = MT.PARTY_ID
			   AND P.PARTY_ID = AA.PARTY_ID
			   AND P.PARTY_ID = Y.PARTY_ID
			   AND MT.USER_PLACING_CD = '01'
			  <if test=" userNum != null and userNum != '' ">
			   AND MT.USER_NUM = #{userNum,jdbcType=VARCHAR} 		   
		   	  </if>
 		      <if test=" orgNum != null and orgNum != '' ">
 		 	   AND MT.ORG_NUM = #{orgNum,jdbcType=VARCHAR}
 		      </if>
			 ) A WHERE 1=1
		  	  <if test=" partyId != null and partyId != '' ">
 		 	   AND A.PARTY_ID = #{partyId,jdbcType=VARCHAR}
 		      </if>
 		      <if test=" partyName != null and partyName != '' ">
 		 	   AND A.PARTY_NAME = '%'||#{partyName,jdbcType=VARCHAR}||'%'
 		      </if>
 		      <if test=" certType != null and certType != '' ">
 		 	   AND A.CERT_TYPE = #{certType,jdbcType=VARCHAR}
 		      </if>
 		      <if test=" certNum != null and certNum != '' ">
 		 	   AND A.CERT_NUM = #{certNum,jdbcType=VARCHAR}
 		      </if>
		 <!-- <isNotNull property="partyId">  and a.party_id = '$partyId$' </isNotNull>
 		 <isNotNull property="partyName">  and a.party_name like '%$partyName$%' </isNotNull>
 		 <isNotNull property="certType">  and a.cert_type = '$certType$' </isNotNull>
 		 <isNotNull property="certNum">  and a.cert_num = '$certNum$' </isNotNull> -->
  </select>
 <select id="querySummaryList" parameterType="java.util.HashMap" resultType="java.util.Map">
	    	select ci.contract_num,
			       ci.product_type,
			       ci.guaranty_type,
			       ci.contract_amt,
			       ci.con_balance,
			       ci.con_yu_e,
			       ci.contract_term,
			       ci.CYCLE_UNIT,
			       to_char(ci.begin_date, 'yyyy-mm-dd') as begin_date,
			       to_char(ci.end_date, 'yyyy-mm-dd') as end_date,
			       p.party_name
			  from tb_con_contract_info ci, tb_csm_party p
			 where ci.party_id = p.party_id
			   and ci.con_status = '03'
 		       and ci.party_id = 'ff808081655a216d01655b1037910619' <!-- 先写死 -->
	</select>
 
 
</mapper>