<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.contract.mapper.CrtTbSysBasicRateMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.contract.bean.CrtTbSysBasicRate">
    <id column="INT_RATE_ID" jdbcType="VARCHAR" property="intRateId" />
    <result column="INT_RATE" jdbcType="DECIMAL" property="intRate" />
    <result column="VALID_DATE" jdbcType="TIMESTAMP" property="validDate" />
    <result column="DATA_DATE" jdbcType="TIMESTAMP" property="dataDate" />
    <result column="INVALID_DATE" jdbcType="TIMESTAMP" property="invalidDate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="INT_RATE_CD" jdbcType="VARCHAR" property="intRateCd" />
    <result column="CURRENCY_CD" jdbcType="VARCHAR" property="currencyCd" />
    <result column="INT_RATE_NAME" jdbcType="VARCHAR" property="intRateName" />
  </resultMap>
  <sql id="Base_Column_List">
    INT_RATE_ID, INT_RATE, VALID_DATE, DATA_DATE, INVALID_DATE, STATUS, INT_RATE_CD, 
    CURRENCY_CD, INT_RATE_NAME
  </sql>
  <!-- 通过主键查询一条基础利率信息 -->
  <select id="selectSysBasicRateByIntRateId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRMS.TB_SYS_BASIC_RATE
    where INT_RATE_ID = #{intRateId,jdbcType=VARCHAR}
  </select>
  <!-- 通过利率编号查多条基础利率信息 -->
  <select id="selectSysBasicRateByIntRateCd" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRMS.TB_SYS_BASIC_RATE
    where INT_RATE_CD = #{intRateCd,jdbcType=VARCHAR}
  </select>
  
</mapper>