<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbConKlyhcdhpPoMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.po.CsmTbConKlyhcdhpPo">
    <id column="APPLY_DETAIL_ID" jdbcType="VARCHAR" property="applyDetailId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="BZJBLBDY" jdbcType="DECIMAL" property="bzjblbdy" />
    <result column="SFBZ" jdbcType="DECIMAL" property="sfbz" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="CDRQC" jdbcType="VARCHAR" property="cdrqc" />
    <result column="BZJBL" jdbcType="DECIMAL" property="bzjbl" />
    <result column="BZJJE" jdbcType="DECIMAL" property="bzjje" />
    <result column="TGFPDCLQX" jdbcType="DECIMAL" property="tgfpdclqx" />
    <result column="DKLL" jdbcType="DECIMAL" property="dkll" />
    <result column="HPZS" jdbcType="DECIMAL" property="hpzs" />
  </resultMap>
  <sql id="Base_Column_List">
    APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, AMOUNT_DETAIL_ID, BZJBLBDY, SFBZ, CONTRACT_ID, 
    CDRQC, BZJBL, BZJJE, TGFPDCLQX, DKLL, HPZS
  </sql>
  
   <select id="queryByConInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_CON_KLYHCDHP
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_CON_KLYHCDHP
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_CON_KLYHCDHP
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.csm.po.CsmTbConKlyhcdhpPo">
    insert into CRMS.TB_CON_KLYHCDHP (APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, 
      AMOUNT_DETAIL_ID, BZJBLBDY, SFBZ, 
      CONTRACT_ID, CDRQC, BZJBL, 
      BZJJE, TGFPDCLQX, DKLL, 
      HPZS)
    values (#{applyDetailId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{amountDetailId,jdbcType=VARCHAR}, #{bzjblbdy,jdbcType=DECIMAL}, #{sfbz,jdbcType=DECIMAL}, 
      #{contractId,jdbcType=VARCHAR}, #{cdrqc,jdbcType=VARCHAR}, #{bzjbl,jdbcType=DECIMAL}, 
      #{bzjje,jdbcType=DECIMAL}, #{tgfpdclqx,jdbcType=DECIMAL}, #{dkll,jdbcType=DECIMAL}, 
      #{hpzs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.csm.po.CsmTbConKlyhcdhpPo">
    insert into CRMS.TB_CON_KLYHCDHP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        APPLY_DETAIL_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID,
      </if>
      <if test="bzjblbdy != null">
        BZJBLBDY,
      </if>
      <if test="sfbz != null">
        SFBZ,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="cdrqc != null">
        CDRQC,
      </if>
      <if test="bzjbl != null">
        BZJBL,
      </if>
      <if test="bzjje != null">
        BZJJE,
      </if>
      <if test="tgfpdclqx != null">
        TGFPDCLQX,
      </if>
      <if test="dkll != null">
        DKLL,
      </if>
      <if test="hpzs != null">
        HPZS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        #{applyDetailId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="bzjblbdy != null">
        #{bzjblbdy,jdbcType=DECIMAL},
      </if>
      <if test="sfbz != null">
        #{sfbz,jdbcType=DECIMAL},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="cdrqc != null">
        #{cdrqc,jdbcType=VARCHAR},
      </if>
      <if test="bzjbl != null">
        #{bzjbl,jdbcType=DECIMAL},
      </if>
      <if test="bzjje != null">
        #{bzjje,jdbcType=DECIMAL},
      </if>
      <if test="tgfpdclqx != null">
        #{tgfpdclqx,jdbcType=DECIMAL},
      </if>
      <if test="dkll != null">
        #{dkll,jdbcType=DECIMAL},
      </if>
      <if test="hpzs != null">
        #{hpzs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.csm.po.CsmTbConKlyhcdhpPo">
    update CRMS.TB_CON_KLYHCDHP
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="bzjblbdy != null">
        BZJBLBDY = #{bzjblbdy,jdbcType=DECIMAL},
      </if>
      <if test="sfbz != null">
        SFBZ = #{sfbz,jdbcType=DECIMAL},
      </if>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="cdrqc != null">
        CDRQC = #{cdrqc,jdbcType=VARCHAR},
      </if>
      <if test="bzjbl != null">
        BZJBL = #{bzjbl,jdbcType=DECIMAL},
      </if>
      <if test="bzjje != null">
        BZJJE = #{bzjje,jdbcType=DECIMAL},
      </if>
      <if test="tgfpdclqx != null">
        TGFPDCLQX = #{tgfpdclqx,jdbcType=DECIMAL},
      </if>
      <if test="dkll != null">
        DKLL = #{dkll,jdbcType=DECIMAL},
      </if>
      <if test="hpzs != null">
        HPZS = #{hpzs,jdbcType=DECIMAL},
      </if>
    </set>
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.csm.po.CsmTbConKlyhcdhpPo">
    update CRMS.TB_CON_KLYHCDHP
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      BZJBLBDY = #{bzjblbdy,jdbcType=DECIMAL},
      SFBZ = #{sfbz,jdbcType=DECIMAL},
      CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      CDRQC = #{cdrqc,jdbcType=VARCHAR},
      BZJBL = #{bzjbl,jdbcType=DECIMAL},
      BZJJE = #{bzjje,jdbcType=DECIMAL},
      TGFPDCLQX = #{tgfpdclqx,jdbcType=DECIMAL},
      DKLL = #{dkll,jdbcType=DECIMAL},
      HPZS = #{hpzs,jdbcType=DECIMAL}
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
</mapper>