<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbBizKlyhcdhpApprovePoMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.po.CsmTbBizKlyhcdhpApprovePo">
    <id column="APPLY_DETAIL_ID" jdbcType="VARCHAR" property="applyDetailId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="BZJBLBDY" jdbcType="DECIMAL" property="bzjblbdy" />
    <result column="SFBZ" jdbcType="DECIMAL" property="sfbz" />
    <result column="DKLL" jdbcType="DECIMAL" property="dkll" />
    <result column="HPZS" jdbcType="DECIMAL" property="hpzs" />
  </resultMap>
  <sql id="Base_Column_List">
    APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, AMOUNT_DETAIL_ID, BZJBLBDY, SFBZ, DKLL, 
    HPZS
  </sql>
    <select id="queryByAmountDetailId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
   *
    from CRMS.TB_BIZ_KLYHCDHP_APPROVE
    where Amount_Detail_Id = #{amountDetailId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
   *
    from CRMS.TB_BIZ_KLYHCDHP_APPROVE
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_BIZ_KLYHCDHP_APPROVE
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.csm.po.CsmTbBizKlyhcdhpApprovePo">
    insert into CRMS.TB_BIZ_KLYHCDHP_APPROVE (APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, 
      AMOUNT_DETAIL_ID, BZJBLBDY, SFBZ, 
      DKLL, HPZS)
    values (#{applyDetailId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{amountDetailId,jdbcType=VARCHAR}, #{bzjblbdy,jdbcType=DECIMAL}, #{sfbz,jdbcType=DECIMAL}, 
      #{dkll,jdbcType=DECIMAL}, #{hpzs,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.csm.po.CsmTbBizKlyhcdhpApprovePo">
    insert into CRMS.TB_BIZ_KLYHCDHP_APPROVE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        APPLY_DETAIL_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID,
      </if>
      <if test="bzjblbdy != null">
        BZJBLBDY,
      </if>
      <if test="sfbz != null">
        SFBZ,
      </if>
      <if test="dkll != null">
        DKLL,
      </if>
      <if test="hpzs != null">
        HPZS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        #{applyDetailId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="bzjblbdy != null">
        #{bzjblbdy,jdbcType=DECIMAL},
      </if>
      <if test="sfbz != null">
        #{sfbz,jdbcType=DECIMAL},
      </if>
      <if test="dkll != null">
        #{dkll,jdbcType=DECIMAL},
      </if>
      <if test="hpzs != null">
        #{hpzs,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.csm.po.CsmTbBizKlyhcdhpApprovePo">
    update CRMS.TB_BIZ_KLYHCDHP_APPROVE
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="bzjblbdy != null">
        BZJBLBDY = #{bzjblbdy,jdbcType=DECIMAL},
      </if>
      <if test="sfbz != null">
        SFBZ = #{sfbz,jdbcType=DECIMAL},
      </if>
      <if test="dkll != null">
        DKLL = #{dkll,jdbcType=DECIMAL},
      </if>
      <if test="hpzs != null">
        HPZS = #{hpzs,jdbcType=DECIMAL},
      </if>
    </set>
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.csm.po.CsmTbBizKlyhcdhpApprovePo">
    update CRMS.TB_BIZ_KLYHCDHP_APPROVE
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      BZJBLBDY = #{bzjblbdy,jdbcType=DECIMAL},
      SFBZ = #{sfbz,jdbcType=DECIMAL},
      DKLL = #{dkll,jdbcType=DECIMAL},
      HPZS = #{hpzs,jdbcType=DECIMAL}
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
</mapper>