<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.securitymanagement.mapper.GrtCurrentAssetsMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.securitymanagement.bean.GrtCurrentAssets">
    <id column="GUARANTY_ID" jdbcType="VARCHAR" property="guarantyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_GRT_CURRENT_ASSETS
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.securitymanagement.bean.GrtCurrentAssets">
    insert into TB_GRT_CURRENT_ASSETS (GUARANTY_ID)
    values (#{guarantyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtCurrentAssets">
    insert into TB_GRT_CURRENT_ASSETS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        GUARANTY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        #{guarantyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>