<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbConSubGrtRelMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.bean.CsmTbConSubGrtRel">
    <id column="RELATION_ID" jdbcType="VARCHAR" property="relationId" />
    <result column="SUBCONTRACT_ID" jdbcType="VARCHAR" property="subcontractId" />
    <result column="SURETY_ID" jdbcType="VARCHAR" property="suretyId" />
    <result column="SURETY_AMT" jdbcType="DECIMAL" property="suretyAmt" />
    <result column="GRT_STATUS" jdbcType="VARCHAR" property="grtStatus" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="SURETY_ID_BACKUPS" jdbcType="VARCHAR" property="suretyIdBackups" />
    <result column="GRT_AMT" jdbcType="DECIMAL" property="grtAmt" />
  </resultMap>
  <sql id="Base_Column_List">
    RELATION_ID, SUBCONTRACT_ID, SURETY_ID, SURETY_AMT, GRT_STATUS, PARTY_ID, CREATE_TIME, 
    UPDATE_TIME, SURETY_ID_BACKUPS, GRT_AMT
  </sql>
  
</mapper>