<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbBizAmountDetailApproveMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.bean.CsmTbBizAmountDetailApprove">
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="CURRENCY_CD" jdbcType="VARCHAR" property="currencyCd" />
    <result column="EXCHANGE_RATE" jdbcType="DECIMAL" property="exchangeRate" />
    <result column="CYCLE_UNIT" jdbcType="VARCHAR" property="cycleUnit" />
    <result column="CREDIT_TERM" jdbcType="DECIMAL" property="creditTerm" />
    <result column="LOAN_USE" jdbcType="VARCHAR" property="loanUse" />
    <result column="REPAYMENT_TYPE" jdbcType="VARCHAR" property="repaymentType" />
    <result column="CYCLE_IND" jdbcType="VARCHAR" property="cycleInd" />
    <result column="BROAD_CYCLE" jdbcType="DECIMAL" property="broadCycle" />
    <result column="BROAD_CYCLE_UNIT" jdbcType="VARCHAR" property="broadCycleUnit" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="EXCHANGE_RATE_DATE" jdbcType="TIMESTAMP" property="exchangeRateDate" />
    <result column="OLD_DETAIL_ID" jdbcType="VARCHAR" property="oldDetailId" />
    <result column="DETAIL_AMT" jdbcType="DECIMAL" property="detailAmt" />
    <result column="AMOUNT_ID" jdbcType="VARCHAR" property="amountId" />
    <result column="PAYMENT" jdbcType="VARCHAR" property="payment" />
    <result column="PREPAYMENT_PENALTY" jdbcType="VARCHAR" property="prepaymentPenalty" />
    <result column="RMB_AMT" jdbcType="DECIMAL" property="rmbAmt" />
    <result column="CYCLE_IND_CON" jdbcType="VARCHAR" property="cycleIndCon" />
    <result column="HOLIDAY_FLG" jdbcType="VARCHAR" property="holidayFlg" />
    <result column="FIRST_REPAY_TERM" jdbcType="VARCHAR" property="firstRepayTerm" />
    <result column="DETAIL_BALANCE" jdbcType="DECIMAL" property="detailBalance" />
    <result column="DETAIL_USED" jdbcType="DECIMAL" property="detailUsed" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="APPROVE_ID" jdbcType="VARCHAR" property="approveId" />
    <result column="NO_USE" jdbcType="DECIMAL" property="noUse" />
    <result column="BO_USE" jdbcType="DECIMAL" property="boUse" />
    <result column="CRD_DTL_ID" jdbcType="VARCHAR" property="crdDtlId" />
    <result column="CREDIT_MODE" jdbcType="VARCHAR" property="creditMode" />
    <result column="BEGIN_DATE" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="CREDIT_STATUS" jdbcType="VARCHAR" property="creditStatus" />
    <result column="ASSURE_PER" jdbcType="DECIMAL" property="assurePer" />
  </resultMap>

</mapper>