<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.securitymanagerment.mapper.GrtFundMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.securitymanagement.bean.GrtFund">
    <id column="GUARANTY_ID" jdbcType="VARCHAR" property="guarantyId" />
    <result column="FUND_CD" jdbcType="VARCHAR" property="fundCd" />
    <result column="FUND_CORP_NAME" jdbcType="VARCHAR" property="fundCorpName" />
    <result column="FUND_TYPE_CD" jdbcType="VARCHAR" property="fundTypeCd" />
    <result column="STOCK_HOLDER_CD" jdbcType="VARCHAR" property="stockHolderCd" />
    <result column="SEAT_CD" jdbcType="VARCHAR" property="seatCd" />
  </resultMap>
  <sql id="Base_Column_List">
    GUARANTY_ID, FUND_CD, FUND_CORP_NAME, FUND_TYPE_CD, STOCK_HOLDER_CD, SEAT_CD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_GRT_FUND
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_GRT_FUND
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.securitymanagement.bean.GrtFund">
    insert into TB_GRT_FUND (GUARANTY_ID, FUND_CD, FUND_CORP_NAME, 
      FUND_TYPE_CD, STOCK_HOLDER_CD, SEAT_CD
      )
    values (#{guarantyId,jdbcType=VARCHAR}, #{fundCd,jdbcType=VARCHAR}, #{fundCorpName,jdbcType=VARCHAR}, 
      #{fundTypeCd,jdbcType=VARCHAR}, #{stockHolderCd,jdbcType=VARCHAR}, #{seatCd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtFund">
    insert into TB_GRT_FUND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        GUARANTY_ID,
      </if>
      <if test="fundCd != null">
        FUND_CD,
      </if>
      <if test="fundCorpName != null">
        FUND_CORP_NAME,
      </if>
      <if test="fundTypeCd != null">
        FUND_TYPE_CD,
      </if>
      <if test="stockHolderCd != null">
        STOCK_HOLDER_CD,
      </if>
      <if test="seatCd != null">
        SEAT_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        #{guarantyId,jdbcType=VARCHAR},
      </if>
      <if test="fundCd != null">
        #{fundCd,jdbcType=VARCHAR},
      </if>
      <if test="fundCorpName != null">
        #{fundCorpName,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeCd != null">
        #{fundTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="stockHolderCd != null">
        #{stockHolderCd,jdbcType=VARCHAR},
      </if>
      <if test="seatCd != null">
        #{seatCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtFund">
    update TB_GRT_FUND
    <set>
      <if test="fundCd != null">
        FUND_CD = #{fundCd,jdbcType=VARCHAR},
      </if>
      <if test="fundCorpName != null">
        FUND_CORP_NAME = #{fundCorpName,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeCd != null">
        FUND_TYPE_CD = #{fundTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="stockHolderCd != null">
        STOCK_HOLDER_CD = #{stockHolderCd,jdbcType=VARCHAR},
      </if>
      <if test="seatCd != null">
        SEAT_CD = #{seatCd,jdbcType=VARCHAR},
      </if>
    </set>
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.securitymanagement.bean.GrtFund">
    update TB_GRT_FUND
    set FUND_CD = #{fundCd,jdbcType=VARCHAR},
      FUND_CORP_NAME = #{fundCorpName,jdbcType=VARCHAR},
      FUND_TYPE_CD = #{fundTypeCd,jdbcType=VARCHAR},
      STOCK_HOLDER_CD = #{stockHolderCd,jdbcType=VARCHAR},
      SEAT_CD = #{seatCd,jdbcType=VARCHAR}
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
</mapper>