<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbBizJkdsyhApprovePoMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.po.CsmTbBizJkdsyhApprovePo">
    <id column="APPLY_DETAIL_ID" jdbcType="VARCHAR" property="applyDetailId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="JYQ" jdbcType="VARCHAR" property="jyq" />
    <result column="YWBH" jdbcType="VARCHAR" property="ywbh" />
    <result column="DKLL" jdbcType="DECIMAL" property="dkll" />
  </resultMap>
  <sql id="Base_Column_List">
    APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, AMOUNT_DETAIL_ID, JYQ, YWBH, DKLL
  </sql>
  <select id="queryByAmountDetailId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_BIZ_JKDSYH_APPROVE
    where Amount_Detail_Id = #{amountDetailId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_BIZ_JKDSYH_APPROVE
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_BIZ_JKDSYH_APPROVE
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.csm.po.CsmTbBizJkdsyhApprovePo">
    insert into CRMS.TB_BIZ_JKDSYH_APPROVE (APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, 
      AMOUNT_DETAIL_ID, JYQ, YWBH, 
      DKLL)
    values (#{applyDetailId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{amountDetailId,jdbcType=VARCHAR}, #{jyq,jdbcType=VARCHAR}, #{ywbh,jdbcType=VARCHAR}, 
      #{dkll,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.csm.po.CsmTbBizJkdsyhApprovePo">
    insert into CRMS.TB_BIZ_JKDSYH_APPROVE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        APPLY_DETAIL_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID,
      </if>
      <if test="jyq != null">
        JYQ,
      </if>
      <if test="ywbh != null">
        YWBH,
      </if>
      <if test="dkll != null">
        DKLL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        #{applyDetailId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="jyq != null">
        #{jyq,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null">
        #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkll != null">
        #{dkll,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.csm.po.CsmTbBizJkdsyhApprovePo">
    update CRMS.TB_BIZ_JKDSYH_APPROVE
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="jyq != null">
        JYQ = #{jyq,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null">
        YWBH = #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkll != null">
        DKLL = #{dkll,jdbcType=DECIMAL},
      </if>
    </set>
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.csm.po.CsmTbBizJkdsyhApprovePo">
    update CRMS.TB_BIZ_JKDSYH_APPROVE
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      JYQ = #{jyq,jdbcType=VARCHAR},
      YWBH = #{ywbh,jdbcType=VARCHAR},
      DKLL = #{dkll,jdbcType=DECIMAL}
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
</mapper>