<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbConSubcontractMapper">
  
  <resultMap id="tbConSubcontractPo" type="com.cdgit.loan.csm.po.TbConSubcontractPo">
    <id column="SUBCONTRACT_ID" javaType="String" property="subcontractId" />
    <result column="SUBCONTRACT_NUM" javaType="String" property="subcontractNum" />
    <result column="SUBCONTRACT_MANUAL_NUM" javaType="String" property="subcontractManualNum" />
    <result column="SUBCONTRACT_TYPE" javaType="String" property="subcontractType" />
    <result column="SUBCONTRACT_STATUS" javaType="String" property="subcontractStatus" />
    <result column="IF_TOP_SUBCON" javaType="String" property="ifTopSubcon" />
    <result column="SIGN_DATE" javaType="java.sql.Timestamp" property="signDate" />
    <result column="BEGIN_DATE" javaType="java.sql.Timestamp" property="beginDate" />
    <result column="END_DATE" javaType="java.sql.Timestamp" property="endDate" />
    <result column="SUBCONTRACT_AMT" javaType="String" property="subcontractAmt" />
    <result column="USER_NUM" javaType="String" property="userNum" />
    <result column="ORG_NUM" javaType="String" property="orgNum" />
    <result column="CREATE_TIME" javaType="java.sql.Timestamp" property="createTime" />
    <result column="UPDATE_TIME" javaType="java.sql.Timestamp" property="updateTime" />
    <result column="PARTY_ID" javaType="String" property="partyId" />
    <result column="BZ" javaType="String" property="bz" />
    <result column="ZGBJXE" javaType="String" property="zgbjxe" />
    <result column="JGGZRBLDJ" javaType="String" property="jggzrbldj" />
    <result column="ZFWYJBL" javaType="String" property="zfwyjbl" />
    <result column="CHANGE_PERCENT" javaType="String" property="changePercent" />
    <result column="JRNCRBZJ" javaType="String" property="jrncrbzj" />
    <result column="BZJJE" javaType="String" property="bzjje" />
    <result column="BZJBL" javaType="String" property="bzjbl" />
    <result column="BZJLX" javaType="String" property="bzjlx" />
    <result column="AYLLJX" javaType="String" property="aylljx" />
    <result column="ANLLJX" javaType="String" property="anlljx" />
    <result column="JRTZKH" javaType="String" property="jrtzkh" />
    <result column="AVI_AMT" javaType="String" property="aviAmt" />
    <result column="TOTAL_AMT" javaType="String" property="totalAmt" />
    <result column="PAPER_CON_NUM" javaType="String" property="paperConNum" />
    <result column="BZJJXZQ" javaType="String" property="bzjjxzq" />
    <result column="CON_PARTY_ID" javaType="String" property="conPartyId" />
    <result column="IF_DATA_MOVE" javaType="String" property="ifDataMove" />
    <result column="QTJSXFS" javaType="String" property="qtjsxfs" />
    <result column="PROGUARANTY_WAY" javaType="String" property="proguarantyWay" />
    <result column="PROGUARANTY_TYPE" javaType="String" property="proguarantyType" />
    <result column="PROGUARANTY_FORM" javaType="String" property="proguarantyForm" />
    <result column="SUB_SCOPE" javaType="String" property="subScope" />
    <result column="DB_RATE" javaType="String" property="dbRate" />

  </resultMap>


	<select id="queryCsmTbConSubcontractPo" parameterType="java.lang.String" resultMap="tbConSubcontractPo">
	select 
	*
	from 
		TB_CON_SUBCONTRACT
	where 
		subcontract_id=#{subcontractId}
		
  </select>

  
</mapper>