<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.TbCsmPartyMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.bean.TbCsmParty">
    <id column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="PARTY_NUM" jdbcType="VARCHAR" property="partyNum" />
    <result column="PARTY_TYPE_CD" jdbcType="VARCHAR" property="partyTypeCd" />
    <result column="PARTY_NAME" jdbcType="VARCHAR" property="partyName" />
    <result column="ECIF_PARTY_NUM" jdbcType="VARCHAR" property="ecifPartyNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="EXAMINE_STATE" jdbcType="VARCHAR" property="examineState" />
    <result column="CUST_PROPERTY_STATUS" jdbcType="VARCHAR" property="custPropertyStatus" />
    <result column="IF_DATA_MOVE" jdbcType="VARCHAR" property="ifDataMove" />
    <result column="IS_POTENTIAL_CUST" jdbcType="VARCHAR" property="isPotentialCust" />
    <result column="LEG_ORG" jdbcType="VARCHAR" property="legOrg" />
  </resultMap>
  <sql id="Base_Column_List">
    PARTY_ID, PARTY_NUM, PARTY_TYPE_CD, PARTY_NAME, ECIF_PARTY_NUM, CREATE_TIME, UPDATE_TIME, 
    EXAMINE_STATE, CUST_PROPERTY_STATUS, IF_DATA_MOVE, IS_POTENTIAL_CUST, LEG_ORG
  </sql>
  
</mapper>