<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.guaranteevaluation.mapper.CrdThirdPartyLimitMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.guaranteevaluation.bean.CrdThirdPartyLimit">
    <id column="LIMIT_ID" jdbcType="VARCHAR" property="limitId" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
    <result column="CURRENCY_CD" jdbcType="VARCHAR" property="currencyCd" />
    <result column="GUARANT_AMT" jdbcType="DECIMAL" property="guarantAmt" />
    <result column="LOWEST_GUARANT_AMT" jdbcType="DECIMAL" property="lowestGuarantAmt" />
    <result column="AMPLIFY_IND" jdbcType="DECIMAL" property="amplifyInd" />
    <result column="GUARANT_TERM" jdbcType="DECIMAL" property="guarantTerm" />
    <result column="GUARANT_ORG_REAL" jdbcType="DECIMAL" property="guarantOrgReal" />
    <result column="MAIN_ORG_ID" jdbcType="VARCHAR" property="mainOrgId" />
    <result column="DEAL_DATE" jdbcType="TIMESTAMP" property="dealDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="ITEM_BEGIN_DATE" jdbcType="TIMESTAMP" property="itemBeginDate" />
    <result column="ITEM_END_DATE" jdbcType="TIMESTAMP" property="itemEndDate" />
    <result column="ITEM_AMT" jdbcType="DECIMAL" property="itemAmt" />
    <result column="ITEM_CURRENCY_CD" jdbcType="VARCHAR" property="itemCurrencyCd" />
    <result column="LONGEST_LOAN_TERM" jdbcType="DECIMAL" property="longestLoanTerm" />
    <result column="HIGHEST_LOAN_RATE" jdbcType="DECIMAL" property="highestLoanRate" />
    <result column="ITEM_REMARK" jdbcType="VARCHAR" property="itemRemark" />
    <result column="USER_NUM" jdbcType="VARCHAR" property="userNum" />
    <result column="CREDIT_NUM" jdbcType="VARCHAR" property="creditNum" />
    <result column="LIMIT_TYPE" jdbcType="VARCHAR" property="limitType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ORG_NUM" jdbcType="VARCHAR" property="orgNum" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="BEGIN_DATE" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="CRD_CONTROL_TYPE" jdbcType="VARCHAR" property="crdControlType" />
    <result column="SETTLE_ACCNO" jdbcType="VARCHAR" property="settleAccno" />
    <result column="DEPOSIT_PERCENT_ONE" jdbcType="DECIMAL" property="depositPercentOne" />
    <result column="DEPOSIT_ACC_ORG_ONE" jdbcType="VARCHAR" property="depositAccOrgOne" />
    <result column="DEPOSIT_ACCNO_ONE" jdbcType="VARCHAR" property="depositAccnoOne" />
    <result column="DEPOSIT_ACCNAME_ONE" jdbcType="VARCHAR" property="depositAccnameOne" />
    <result column="DEPOSIT_PERCENT_TWO" jdbcType="DECIMAL" property="depositPercentTwo" />
    <result column="DEPOSIT_ACC_ORG_TWO" jdbcType="VARCHAR" property="depositAccOrgTwo" />
    <result column="DEPOSIT_ACCNO_TWO" jdbcType="VARCHAR" property="depositAccnoTwo" />
    <result column="DEPOSIT_ACCNAME_TWO" jdbcType="VARCHAR" property="depositAccnameTwo" />
    <result column="DEPOSIT_PERCENT_THREE" jdbcType="DECIMAL" property="depositPercentThree" />
    <result column="DEPOSIT_ACC_ORG_THREE" jdbcType="VARCHAR" property="depositAccOrgThree" />
    <result column="DEPOSIT_ACCNO_THREE" jdbcType="VARCHAR" property="depositAccnoThree" />
    <result column="DEPOSIT_ACCNAME_THREE" jdbcType="VARCHAR" property="depositAccnameThree" />
    <result column="ACC_ONE_STATUS" jdbcType="VARCHAR" property="accOneStatus" />
    <result column="ACC_TWO_STATUS" jdbcType="VARCHAR" property="accTwoStatus" />
    <result column="ACC_THREE_STATUS" jdbcType="VARCHAR" property="accThreeStatus" />
    <result column="OLD_LIMIT_ID" jdbcType="VARCHAR" property="oldLimitId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ITEM_USED" jdbcType="DECIMAL" property="itemUsed" />
    <result column="ITEM_AVI" jdbcType="DECIMAL" property="itemAvi" />
    <result column="HOUSE_LOAN_TYPE" jdbcType="VARCHAR" property="houseLoanType" />
    <result column="CREDIT_AMOUNT" jdbcType="DECIMAL" property="creditAmount" />
    <result column="SIMPLE_AMOUNT" jdbcType="DECIMAL" property="simpleAmount" />
    <result column="ACCNO_WAY" jdbcType="VARCHAR" property="accnoWay" />
    <result column="CREDIT_TYPE" jdbcType="VARCHAR" property="creditType" />
    <result column="CREDIT_STATUS" jdbcType="VARCHAR" property="creditStatus" />
    <result column="CREDIT_APPORT" jdbcType="DECIMAL" property="creditApport" />
    <result column="CREDIT_ABROAD" jdbcType="DECIMAL" property="creditAbroad" />
    <result column="CREDIT_ONE_REPAY" jdbcType="DECIMAL" property="creditOneRepay" />
    <result column="CREDIT_TWO_REPAY" jdbcType="DECIMAL" property="creditTwoRepay" />
    <result column="CREDIT_TWO_OTHER_REPAY" jdbcType="DECIMAL" property="creditTwoOtherRepay" />
    <result column="CREDIT_LOAN" jdbcType="DECIMAL" property="creditLoan" />
    <result column="CREDIT_OTHER_AMOUNT" jdbcType="DECIMAL" property="creditOtherAmount" />
    <result column="INNER_CRET" jdbcType="VARCHAR" property="innerCret" />
    <result column="DEFER_ASSETS" jdbcType="DECIMAL" property="deferAssets" />
    <result column="WAIT_ASSETS" jdbcType="DECIMAL" property="waitAssets" />
    <result column="GOODS_STOCK" jdbcType="DECIMAL" property="goodsStock" />
    <result column="CREDIT_TWO_PAYABLE" jdbcType="DECIMAL" property="creditTwoPayable" />
    <result column="LAST_YEAR_AMOUNT" jdbcType="DECIMAL" property="lastYearAmount" />
    <result column="OUTER_ASSETS" jdbcType="DECIMAL" property="outerAssets" />
    <result column="FIXED_ASSETS" jdbcType="DECIMAL" property="fixedAssets" />
    <result column="INVISIBLE_ASSETS" jdbcType="DECIMAL" property="invisibleAssets" />
    <result column="PRINT_MODEL" jdbcType="VARCHAR" property="printModel" />
  </resultMap>
  
  <sql id="Base_Column_List">
    LIMIT_ID, PARTY_ID, CURRENCY_CD, GUARANT_AMT, LOWEST_GUARANT_AMT, AMPLIFY_IND, GUARANT_TERM, 
    GUARANT_ORG_REAL, MAIN_ORG_ID, DEAL_DATE, REMARK, ITEM_TYPE, ITEM_NAME, ITEM_BEGIN_DATE, 
    ITEM_END_DATE, ITEM_AMT, ITEM_CURRENCY_CD, LONGEST_LOAN_TERM, HIGHEST_LOAN_RATE, 
    ITEM_REMARK, USER_NUM, CREDIT_NUM, LIMIT_TYPE, CREATE_TIME, ORG_NUM, STATUS_CD, BEGIN_DATE, 
    END_DATE, CRD_CONTROL_TYPE, SETTLE_ACCNO, DEPOSIT_PERCENT_ONE, DEPOSIT_ACC_ORG_ONE, 
    DEPOSIT_ACCNO_ONE, DEPOSIT_ACCNAME_ONE, DEPOSIT_PERCENT_TWO, DEPOSIT_ACC_ORG_TWO, 
    DEPOSIT_ACCNO_TWO, DEPOSIT_ACCNAME_TWO, DEPOSIT_PERCENT_THREE, DEPOSIT_ACC_ORG_THREE, 
    DEPOSIT_ACCNO_THREE, DEPOSIT_ACCNAME_THREE, ACC_ONE_STATUS, ACC_TWO_STATUS, ACC_THREE_STATUS, 
    OLD_LIMIT_ID, UPDATE_TIME, ITEM_USED, ITEM_AVI, HOUSE_LOAN_TYPE, CREDIT_AMOUNT, SIMPLE_AMOUNT, 
    ACCNO_WAY, CREDIT_TYPE, CREDIT_STATUS, CREDIT_APPORT, CREDIT_ABROAD, CREDIT_ONE_REPAY, 
    CREDIT_TWO_REPAY, CREDIT_TWO_OTHER_REPAY, CREDIT_LOAN, CREDIT_OTHER_AMOUNT, INNER_CRET, 
    DEFER_ASSETS, WAIT_ASSETS, GOODS_STOCK, CREDIT_TWO_PAYABLE, LAST_YEAR_AMOUNT, OUTER_ASSETS, 
    FIXED_ASSETS, INVISIBLE_ASSETS, PRINT_MODEL
  </sql>
  
  
    <!--获取额度信息 必须是已生效-->
  <select id="selectByPartyId" resultMap="BaseResultMap">
  
  	select * from TB_CRD_THIRD_PARTY_LIMIT  where STATUS_CD='03' and PARTY_ID=#{partyId}
  
  </select>
  
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRD_THIRD_PARTY_LIMIT
    where LIMIT_ID = #{limitId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRD_THIRD_PARTY_LIMIT
    where LIMIT_ID = #{limitId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.guaranteevaluation.bean.CrdThirdPartyLimit">
    insert into TB_CRD_THIRD_PARTY_LIMIT (LIMIT_ID, PARTY_ID, CURRENCY_CD, 
      GUARANT_AMT, LOWEST_GUARANT_AMT, AMPLIFY_IND, 
      GUARANT_TERM, GUARANT_ORG_REAL, MAIN_ORG_ID, 
      DEAL_DATE, REMARK, ITEM_TYPE, 
      ITEM_NAME, ITEM_BEGIN_DATE, ITEM_END_DATE, 
      ITEM_AMT, ITEM_CURRENCY_CD, LONGEST_LOAN_TERM, 
      HIGHEST_LOAN_RATE, ITEM_REMARK, USER_NUM, 
      CREDIT_NUM, LIMIT_TYPE, CREATE_TIME, 
      ORG_NUM, STATUS_CD, BEGIN_DATE, 
      END_DATE, CRD_CONTROL_TYPE, SETTLE_ACCNO, 
      DEPOSIT_PERCENT_ONE, DEPOSIT_ACC_ORG_ONE, DEPOSIT_ACCNO_ONE, 
      DEPOSIT_ACCNAME_ONE, DEPOSIT_PERCENT_TWO, DEPOSIT_ACC_ORG_TWO, 
      DEPOSIT_ACCNO_TWO, DEPOSIT_ACCNAME_TWO, DEPOSIT_PERCENT_THREE, 
      DEPOSIT_ACC_ORG_THREE, DEPOSIT_ACCNO_THREE, 
      DEPOSIT_ACCNAME_THREE, ACC_ONE_STATUS, ACC_TWO_STATUS, 
      ACC_THREE_STATUS, OLD_LIMIT_ID, UPDATE_TIME, 
      ITEM_USED, ITEM_AVI, HOUSE_LOAN_TYPE, 
      CREDIT_AMOUNT, SIMPLE_AMOUNT, ACCNO_WAY, 
      CREDIT_TYPE, CREDIT_STATUS, CREDIT_APPORT, 
      CREDIT_ABROAD, CREDIT_ONE_REPAY, CREDIT_TWO_REPAY, 
      CREDIT_TWO_OTHER_REPAY, CREDIT_LOAN, CREDIT_OTHER_AMOUNT, 
      INNER_CRET, DEFER_ASSETS, WAIT_ASSETS, 
      GOODS_STOCK, CREDIT_TWO_PAYABLE, LAST_YEAR_AMOUNT, 
      OUTER_ASSETS, FIXED_ASSETS, INVISIBLE_ASSETS, 
      PRINT_MODEL)
    values (#{limitId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}, #{currencyCd,jdbcType=VARCHAR}, 
      #{guarantAmt,jdbcType=DECIMAL}, #{lowestGuarantAmt,jdbcType=DECIMAL}, #{amplifyInd,jdbcType=DECIMAL}, 
      #{guarantTerm,jdbcType=DECIMAL}, #{guarantOrgReal,jdbcType=DECIMAL}, #{mainOrgId,jdbcType=VARCHAR}, 
      #{dealDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{itemType,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemBeginDate,jdbcType=TIMESTAMP}, #{itemEndDate,jdbcType=TIMESTAMP}, 
      #{itemAmt,jdbcType=DECIMAL}, #{itemCurrencyCd,jdbcType=VARCHAR}, #{longestLoanTerm,jdbcType=DECIMAL}, 
      #{highestLoanRate,jdbcType=DECIMAL}, #{itemRemark,jdbcType=VARCHAR}, #{userNum,jdbcType=VARCHAR}, 
      #{creditNum,jdbcType=VARCHAR}, #{limitType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{orgNum,jdbcType=VARCHAR}, #{statusCd,jdbcType=VARCHAR}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{crdControlType,jdbcType=VARCHAR}, #{settleAccno,jdbcType=VARCHAR}, 
      #{depositPercentOne,jdbcType=DECIMAL}, #{depositAccOrgOne,jdbcType=VARCHAR}, #{depositAccnoOne,jdbcType=VARCHAR}, 
      #{depositAccnameOne,jdbcType=VARCHAR}, #{depositPercentTwo,jdbcType=DECIMAL}, #{depositAccOrgTwo,jdbcType=VARCHAR}, 
      #{depositAccnoTwo,jdbcType=VARCHAR}, #{depositAccnameTwo,jdbcType=VARCHAR}, #{depositPercentThree,jdbcType=DECIMAL}, 
      #{depositAccOrgThree,jdbcType=VARCHAR}, #{depositAccnoThree,jdbcType=VARCHAR}, 
      #{depositAccnameThree,jdbcType=VARCHAR}, #{accOneStatus,jdbcType=VARCHAR}, #{accTwoStatus,jdbcType=VARCHAR}, 
      #{accThreeStatus,jdbcType=VARCHAR}, #{oldLimitId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{itemUsed,jdbcType=DECIMAL}, #{itemAvi,jdbcType=DECIMAL}, #{houseLoanType,jdbcType=VARCHAR}, 
      #{creditAmount,jdbcType=DECIMAL}, #{simpleAmount,jdbcType=DECIMAL}, #{accnoWay,jdbcType=VARCHAR}, 
      #{creditType,jdbcType=VARCHAR}, #{creditStatus,jdbcType=VARCHAR}, #{creditApport,jdbcType=DECIMAL}, 
      #{creditAbroad,jdbcType=DECIMAL}, #{creditOneRepay,jdbcType=DECIMAL}, #{creditTwoRepay,jdbcType=DECIMAL}, 
      #{creditTwoOtherRepay,jdbcType=DECIMAL}, #{creditLoan,jdbcType=DECIMAL}, #{creditOtherAmount,jdbcType=DECIMAL}, 
      #{innerCret,jdbcType=VARCHAR}, #{deferAssets,jdbcType=DECIMAL}, #{waitAssets,jdbcType=DECIMAL}, 
      #{goodsStock,jdbcType=DECIMAL}, #{creditTwoPayable,jdbcType=DECIMAL}, #{lastYearAmount,jdbcType=DECIMAL}, 
      #{outerAssets,jdbcType=DECIMAL}, #{fixedAssets,jdbcType=DECIMAL}, #{invisibleAssets,jdbcType=DECIMAL}, 
      #{printModel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.guaranteevaluation.bean.CrdThirdPartyLimit">
    insert into TB_CRD_THIRD_PARTY_LIMIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="limitId != null">
        LIMIT_ID,
      </if>
      <if test="partyId != null">
        PARTY_ID,
      </if>
      <if test="currencyCd != null">
        CURRENCY_CD,
      </if>
      <if test="guarantAmt != null">
        GUARANT_AMT,
      </if>
      <if test="lowestGuarantAmt != null">
        LOWEST_GUARANT_AMT,
      </if>
      <if test="amplifyInd != null">
        AMPLIFY_IND,
      </if>
      <if test="guarantTerm != null">
        GUARANT_TERM,
      </if>
      <if test="guarantOrgReal != null">
        GUARANT_ORG_REAL,
      </if>
      <if test="mainOrgId != null">
        MAIN_ORG_ID,
      </if>
      <if test="dealDate != null">
        DEAL_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="itemType != null">
        ITEM_TYPE,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemBeginDate != null">
        ITEM_BEGIN_DATE,
      </if>
      <if test="itemEndDate != null">
        ITEM_END_DATE,
      </if>
      <if test="itemAmt != null">
        ITEM_AMT,
      </if>
      <if test="itemCurrencyCd != null">
        ITEM_CURRENCY_CD,
      </if>
      <if test="longestLoanTerm != null">
        LONGEST_LOAN_TERM,
      </if>
      <if test="highestLoanRate != null">
        HIGHEST_LOAN_RATE,
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK,
      </if>
      <if test="userNum != null">
        USER_NUM,
      </if>
      <if test="creditNum != null">
        CREDIT_NUM,
      </if>
      <if test="limitType != null">
        LIMIT_TYPE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="orgNum != null">
        ORG_NUM,
      </if>
      <if test="statusCd != null">
        STATUS_CD,
      </if>
      <if test="beginDate != null">
        BEGIN_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="crdControlType != null">
        CRD_CONTROL_TYPE,
      </if>
      <if test="settleAccno != null">
        SETTLE_ACCNO,
      </if>
      <if test="depositPercentOne != null">
        DEPOSIT_PERCENT_ONE,
      </if>
      <if test="depositAccOrgOne != null">
        DEPOSIT_ACC_ORG_ONE,
      </if>
      <if test="depositAccnoOne != null">
        DEPOSIT_ACCNO_ONE,
      </if>
      <if test="depositAccnameOne != null">
        DEPOSIT_ACCNAME_ONE,
      </if>
      <if test="depositPercentTwo != null">
        DEPOSIT_PERCENT_TWO,
      </if>
      <if test="depositAccOrgTwo != null">
        DEPOSIT_ACC_ORG_TWO,
      </if>
      <if test="depositAccnoTwo != null">
        DEPOSIT_ACCNO_TWO,
      </if>
      <if test="depositAccnameTwo != null">
        DEPOSIT_ACCNAME_TWO,
      </if>
      <if test="depositPercentThree != null">
        DEPOSIT_PERCENT_THREE,
      </if>
      <if test="depositAccOrgThree != null">
        DEPOSIT_ACC_ORG_THREE,
      </if>
      <if test="depositAccnoThree != null">
        DEPOSIT_ACCNO_THREE,
      </if>
      <if test="depositAccnameThree != null">
        DEPOSIT_ACCNAME_THREE,
      </if>
      <if test="accOneStatus != null">
        ACC_ONE_STATUS,
      </if>
      <if test="accTwoStatus != null">
        ACC_TWO_STATUS,
      </if>
      <if test="accThreeStatus != null">
        ACC_THREE_STATUS,
      </if>
      <if test="oldLimitId != null">
        OLD_LIMIT_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="itemUsed != null">
        ITEM_USED,
      </if>
      <if test="itemAvi != null">
        ITEM_AVI,
      </if>
      <if test="houseLoanType != null">
        HOUSE_LOAN_TYPE,
      </if>
      <if test="creditAmount != null">
        CREDIT_AMOUNT,
      </if>
      <if test="simpleAmount != null">
        SIMPLE_AMOUNT,
      </if>
      <if test="accnoWay != null">
        ACCNO_WAY,
      </if>
      <if test="creditType != null">
        CREDIT_TYPE,
      </if>
      <if test="creditStatus != null">
        CREDIT_STATUS,
      </if>
      <if test="creditApport != null">
        CREDIT_APPORT,
      </if>
      <if test="creditAbroad != null">
        CREDIT_ABROAD,
      </if>
      <if test="creditOneRepay != null">
        CREDIT_ONE_REPAY,
      </if>
      <if test="creditTwoRepay != null">
        CREDIT_TWO_REPAY,
      </if>
      <if test="creditTwoOtherRepay != null">
        CREDIT_TWO_OTHER_REPAY,
      </if>
      <if test="creditLoan != null">
        CREDIT_LOAN,
      </if>
      <if test="creditOtherAmount != null">
        CREDIT_OTHER_AMOUNT,
      </if>
      <if test="innerCret != null">
        INNER_CRET,
      </if>
      <if test="deferAssets != null">
        DEFER_ASSETS,
      </if>
      <if test="waitAssets != null">
        WAIT_ASSETS,
      </if>
      <if test="goodsStock != null">
        GOODS_STOCK,
      </if>
      <if test="creditTwoPayable != null">
        CREDIT_TWO_PAYABLE,
      </if>
      <if test="lastYearAmount != null">
        LAST_YEAR_AMOUNT,
      </if>
      <if test="outerAssets != null">
        OUTER_ASSETS,
      </if>
      <if test="fixedAssets != null">
        FIXED_ASSETS,
      </if>
      <if test="invisibleAssets != null">
        INVISIBLE_ASSETS,
      </if>
      <if test="printModel != null">
        PRINT_MODEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="limitId != null">
        #{limitId,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="currencyCd != null">
        #{currencyCd,jdbcType=VARCHAR},
      </if>
      <if test="guarantAmt != null">
        #{guarantAmt,jdbcType=DECIMAL},
      </if>
      <if test="lowestGuarantAmt != null">
        #{lowestGuarantAmt,jdbcType=DECIMAL},
      </if>
      <if test="amplifyInd != null">
        #{amplifyInd,jdbcType=DECIMAL},
      </if>
      <if test="guarantTerm != null">
        #{guarantTerm,jdbcType=DECIMAL},
      </if>
      <if test="guarantOrgReal != null">
        #{guarantOrgReal,jdbcType=DECIMAL},
      </if>
      <if test="mainOrgId != null">
        #{mainOrgId,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null">
        #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemBeginDate != null">
        #{itemBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemEndDate != null">
        #{itemEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemAmt != null">
        #{itemAmt,jdbcType=DECIMAL},
      </if>
      <if test="itemCurrencyCd != null">
        #{itemCurrencyCd,jdbcType=VARCHAR},
      </if>
      <if test="longestLoanTerm != null">
        #{longestLoanTerm,jdbcType=DECIMAL},
      </if>
      <if test="highestLoanRate != null">
        #{highestLoanRate,jdbcType=DECIMAL},
      </if>
      <if test="itemRemark != null">
        #{itemRemark,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="creditNum != null">
        #{creditNum,jdbcType=VARCHAR},
      </if>
      <if test="limitType != null">
        #{limitType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgNum != null">
        #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crdControlType != null">
        #{crdControlType,jdbcType=VARCHAR},
      </if>
      <if test="settleAccno != null">
        #{settleAccno,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentOne != null">
        #{depositPercentOne,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgOne != null">
        #{depositAccOrgOne,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoOne != null">
        #{depositAccnoOne,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameOne != null">
        #{depositAccnameOne,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentTwo != null">
        #{depositPercentTwo,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgTwo != null">
        #{depositAccOrgTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoTwo != null">
        #{depositAccnoTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameTwo != null">
        #{depositAccnameTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentThree != null">
        #{depositPercentThree,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgThree != null">
        #{depositAccOrgThree,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoThree != null">
        #{depositAccnoThree,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameThree != null">
        #{depositAccnameThree,jdbcType=VARCHAR},
      </if>
      <if test="accOneStatus != null">
        #{accOneStatus,jdbcType=VARCHAR},
      </if>
      <if test="accTwoStatus != null">
        #{accTwoStatus,jdbcType=VARCHAR},
      </if>
      <if test="accThreeStatus != null">
        #{accThreeStatus,jdbcType=VARCHAR},
      </if>
      <if test="oldLimitId != null">
        #{oldLimitId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemUsed != null">
        #{itemUsed,jdbcType=DECIMAL},
      </if>
      <if test="itemAvi != null">
        #{itemAvi,jdbcType=DECIMAL},
      </if>
      <if test="houseLoanType != null">
        #{houseLoanType,jdbcType=VARCHAR},
      </if>
      <if test="creditAmount != null">
        #{creditAmount,jdbcType=DECIMAL},
      </if>
      <if test="simpleAmount != null">
        #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="accnoWay != null">
        #{accnoWay,jdbcType=VARCHAR},
      </if>
      <if test="creditType != null">
        #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null">
        #{creditStatus,jdbcType=VARCHAR},
      </if>
      <if test="creditApport != null">
        #{creditApport,jdbcType=DECIMAL},
      </if>
      <if test="creditAbroad != null">
        #{creditAbroad,jdbcType=DECIMAL},
      </if>
      <if test="creditOneRepay != null">
        #{creditOneRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoRepay != null">
        #{creditTwoRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoOtherRepay != null">
        #{creditTwoOtherRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditLoan != null">
        #{creditLoan,jdbcType=DECIMAL},
      </if>
      <if test="creditOtherAmount != null">
        #{creditOtherAmount,jdbcType=DECIMAL},
      </if>
      <if test="innerCret != null">
        #{innerCret,jdbcType=VARCHAR},
      </if>
      <if test="deferAssets != null">
        #{deferAssets,jdbcType=DECIMAL},
      </if>
      <if test="waitAssets != null">
        #{waitAssets,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null">
        #{goodsStock,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoPayable != null">
        #{creditTwoPayable,jdbcType=DECIMAL},
      </if>
      <if test="lastYearAmount != null">
        #{lastYearAmount,jdbcType=DECIMAL},
      </if>
      <if test="outerAssets != null">
        #{outerAssets,jdbcType=DECIMAL},
      </if>
      <if test="fixedAssets != null">
        #{fixedAssets,jdbcType=DECIMAL},
      </if>
      <if test="invisibleAssets != null">
        #{invisibleAssets,jdbcType=DECIMAL},
      </if>
      <if test="printModel != null">
        #{printModel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.guaranteevaluation.bean.CrdThirdPartyLimit">
    update TB_CRD_THIRD_PARTY_LIMIT
    <set>
      <if test="partyId != null">
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="currencyCd != null">
        CURRENCY_CD = #{currencyCd,jdbcType=VARCHAR},
      </if>
      <if test="guarantAmt != null">
        GUARANT_AMT = #{guarantAmt,jdbcType=DECIMAL},
      </if>
      <if test="lowestGuarantAmt != null">
        LOWEST_GUARANT_AMT = #{lowestGuarantAmt,jdbcType=DECIMAL},
      </if>
      <if test="amplifyInd != null">
        AMPLIFY_IND = #{amplifyInd,jdbcType=DECIMAL},
      </if>
      <if test="guarantTerm != null">
        GUARANT_TERM = #{guarantTerm,jdbcType=DECIMAL},
      </if>
      <if test="guarantOrgReal != null">
        GUARANT_ORG_REAL = #{guarantOrgReal,jdbcType=DECIMAL},
      </if>
      <if test="mainOrgId != null">
        MAIN_ORG_ID = #{mainOrgId,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null">
        DEAL_DATE = #{dealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemBeginDate != null">
        ITEM_BEGIN_DATE = #{itemBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemEndDate != null">
        ITEM_END_DATE = #{itemEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemAmt != null">
        ITEM_AMT = #{itemAmt,jdbcType=DECIMAL},
      </if>
      <if test="itemCurrencyCd != null">
        ITEM_CURRENCY_CD = #{itemCurrencyCd,jdbcType=VARCHAR},
      </if>
      <if test="longestLoanTerm != null">
        LONGEST_LOAN_TERM = #{longestLoanTerm,jdbcType=DECIMAL},
      </if>
      <if test="highestLoanRate != null">
        HIGHEST_LOAN_RATE = #{highestLoanRate,jdbcType=DECIMAL},
      </if>
      <if test="itemRemark != null">
        ITEM_REMARK = #{itemRemark,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        USER_NUM = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="creditNum != null">
        CREDIT_NUM = #{creditNum,jdbcType=VARCHAR},
      </if>
      <if test="limitType != null">
        LIMIT_TYPE = #{limitType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgNum != null">
        ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null">
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crdControlType != null">
        CRD_CONTROL_TYPE = #{crdControlType,jdbcType=VARCHAR},
      </if>
      <if test="settleAccno != null">
        SETTLE_ACCNO = #{settleAccno,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentOne != null">
        DEPOSIT_PERCENT_ONE = #{depositPercentOne,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgOne != null">
        DEPOSIT_ACC_ORG_ONE = #{depositAccOrgOne,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoOne != null">
        DEPOSIT_ACCNO_ONE = #{depositAccnoOne,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameOne != null">
        DEPOSIT_ACCNAME_ONE = #{depositAccnameOne,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentTwo != null">
        DEPOSIT_PERCENT_TWO = #{depositPercentTwo,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgTwo != null">
        DEPOSIT_ACC_ORG_TWO = #{depositAccOrgTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoTwo != null">
        DEPOSIT_ACCNO_TWO = #{depositAccnoTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameTwo != null">
        DEPOSIT_ACCNAME_TWO = #{depositAccnameTwo,jdbcType=VARCHAR},
      </if>
      <if test="depositPercentThree != null">
        DEPOSIT_PERCENT_THREE = #{depositPercentThree,jdbcType=DECIMAL},
      </if>
      <if test="depositAccOrgThree != null">
        DEPOSIT_ACC_ORG_THREE = #{depositAccOrgThree,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnoThree != null">
        DEPOSIT_ACCNO_THREE = #{depositAccnoThree,jdbcType=VARCHAR},
      </if>
      <if test="depositAccnameThree != null">
        DEPOSIT_ACCNAME_THREE = #{depositAccnameThree,jdbcType=VARCHAR},
      </if>
      <if test="accOneStatus != null">
        ACC_ONE_STATUS = #{accOneStatus,jdbcType=VARCHAR},
      </if>
      <if test="accTwoStatus != null">
        ACC_TWO_STATUS = #{accTwoStatus,jdbcType=VARCHAR},
      </if>
      <if test="accThreeStatus != null">
        ACC_THREE_STATUS = #{accThreeStatus,jdbcType=VARCHAR},
      </if>
      <if test="oldLimitId != null">
        OLD_LIMIT_ID = #{oldLimitId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemUsed != null">
        ITEM_USED = #{itemUsed,jdbcType=DECIMAL},
      </if>
      <if test="itemAvi != null">
        ITEM_AVI = #{itemAvi,jdbcType=DECIMAL},
      </if>
      <if test="houseLoanType != null">
        HOUSE_LOAN_TYPE = #{houseLoanType,jdbcType=VARCHAR},
      </if>
      <if test="creditAmount != null">
        CREDIT_AMOUNT = #{creditAmount,jdbcType=DECIMAL},
      </if>
      <if test="simpleAmount != null">
        SIMPLE_AMOUNT = #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="accnoWay != null">
        ACCNO_WAY = #{accnoWay,jdbcType=VARCHAR},
      </if>
      <if test="creditType != null">
        CREDIT_TYPE = #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null">
        CREDIT_STATUS = #{creditStatus,jdbcType=VARCHAR},
      </if>
      <if test="creditApport != null">
        CREDIT_APPORT = #{creditApport,jdbcType=DECIMAL},
      </if>
      <if test="creditAbroad != null">
        CREDIT_ABROAD = #{creditAbroad,jdbcType=DECIMAL},
      </if>
      <if test="creditOneRepay != null">
        CREDIT_ONE_REPAY = #{creditOneRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoRepay != null">
        CREDIT_TWO_REPAY = #{creditTwoRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoOtherRepay != null">
        CREDIT_TWO_OTHER_REPAY = #{creditTwoOtherRepay,jdbcType=DECIMAL},
      </if>
      <if test="creditLoan != null">
        CREDIT_LOAN = #{creditLoan,jdbcType=DECIMAL},
      </if>
      <if test="creditOtherAmount != null">
        CREDIT_OTHER_AMOUNT = #{creditOtherAmount,jdbcType=DECIMAL},
      </if>
      <if test="innerCret != null">
        INNER_CRET = #{innerCret,jdbcType=VARCHAR},
      </if>
      <if test="deferAssets != null">
        DEFER_ASSETS = #{deferAssets,jdbcType=DECIMAL},
      </if>
      <if test="waitAssets != null">
        WAIT_ASSETS = #{waitAssets,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null">
        GOODS_STOCK = #{goodsStock,jdbcType=DECIMAL},
      </if>
      <if test="creditTwoPayable != null">
        CREDIT_TWO_PAYABLE = #{creditTwoPayable,jdbcType=DECIMAL},
      </if>
      <if test="lastYearAmount != null">
        LAST_YEAR_AMOUNT = #{lastYearAmount,jdbcType=DECIMAL},
      </if>
      <if test="outerAssets != null">
        OUTER_ASSETS = #{outerAssets,jdbcType=DECIMAL},
      </if>
      <if test="fixedAssets != null">
        FIXED_ASSETS = #{fixedAssets,jdbcType=DECIMAL},
      </if>
      <if test="invisibleAssets != null">
        INVISIBLE_ASSETS = #{invisibleAssets,jdbcType=DECIMAL},
      </if>
      <if test="printModel != null">
        PRINT_MODEL = #{printModel,jdbcType=VARCHAR},
      </if>
    </set>
    where LIMIT_ID = #{limitId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.guaranteevaluation.bean.CrdThirdPartyLimit">
    update TB_CRD_THIRD_PARTY_LIMIT
    set PARTY_ID = #{partyId,jdbcType=VARCHAR},
      CURRENCY_CD = #{currencyCd,jdbcType=VARCHAR},
      GUARANT_AMT = #{guarantAmt,jdbcType=DECIMAL},
      LOWEST_GUARANT_AMT = #{lowestGuarantAmt,jdbcType=DECIMAL},
      AMPLIFY_IND = #{amplifyInd,jdbcType=DECIMAL},
      GUARANT_TERM = #{guarantTerm,jdbcType=DECIMAL},
      GUARANT_ORG_REAL = #{guarantOrgReal,jdbcType=DECIMAL},
      MAIN_ORG_ID = #{mainOrgId,jdbcType=VARCHAR},
      DEAL_DATE = #{dealDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_BEGIN_DATE = #{itemBeginDate,jdbcType=TIMESTAMP},
      ITEM_END_DATE = #{itemEndDate,jdbcType=TIMESTAMP},
      ITEM_AMT = #{itemAmt,jdbcType=DECIMAL},
      ITEM_CURRENCY_CD = #{itemCurrencyCd,jdbcType=VARCHAR},
      LONGEST_LOAN_TERM = #{longestLoanTerm,jdbcType=DECIMAL},
      HIGHEST_LOAN_RATE = #{highestLoanRate,jdbcType=DECIMAL},
      ITEM_REMARK = #{itemRemark,jdbcType=VARCHAR},
      USER_NUM = #{userNum,jdbcType=VARCHAR},
      CREDIT_NUM = #{creditNum,jdbcType=VARCHAR},
      LIMIT_TYPE = #{limitType,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      CRD_CONTROL_TYPE = #{crdControlType,jdbcType=VARCHAR},
      SETTLE_ACCNO = #{settleAccno,jdbcType=VARCHAR},
      DEPOSIT_PERCENT_ONE = #{depositPercentOne,jdbcType=DECIMAL},
      DEPOSIT_ACC_ORG_ONE = #{depositAccOrgOne,jdbcType=VARCHAR},
      DEPOSIT_ACCNO_ONE = #{depositAccnoOne,jdbcType=VARCHAR},
      DEPOSIT_ACCNAME_ONE = #{depositAccnameOne,jdbcType=VARCHAR},
      DEPOSIT_PERCENT_TWO = #{depositPercentTwo,jdbcType=DECIMAL},
      DEPOSIT_ACC_ORG_TWO = #{depositAccOrgTwo,jdbcType=VARCHAR},
      DEPOSIT_ACCNO_TWO = #{depositAccnoTwo,jdbcType=VARCHAR},
      DEPOSIT_ACCNAME_TWO = #{depositAccnameTwo,jdbcType=VARCHAR},
      DEPOSIT_PERCENT_THREE = #{depositPercentThree,jdbcType=DECIMAL},
      DEPOSIT_ACC_ORG_THREE = #{depositAccOrgThree,jdbcType=VARCHAR},
      DEPOSIT_ACCNO_THREE = #{depositAccnoThree,jdbcType=VARCHAR},
      DEPOSIT_ACCNAME_THREE = #{depositAccnameThree,jdbcType=VARCHAR},
      ACC_ONE_STATUS = #{accOneStatus,jdbcType=VARCHAR},
      ACC_TWO_STATUS = #{accTwoStatus,jdbcType=VARCHAR},
      ACC_THREE_STATUS = #{accThreeStatus,jdbcType=VARCHAR},
      OLD_LIMIT_ID = #{oldLimitId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ITEM_USED = #{itemUsed,jdbcType=DECIMAL},
      ITEM_AVI = #{itemAvi,jdbcType=DECIMAL},
      HOUSE_LOAN_TYPE = #{houseLoanType,jdbcType=VARCHAR},
      CREDIT_AMOUNT = #{creditAmount,jdbcType=DECIMAL},
      SIMPLE_AMOUNT = #{simpleAmount,jdbcType=DECIMAL},
      ACCNO_WAY = #{accnoWay,jdbcType=VARCHAR},
      CREDIT_TYPE = #{creditType,jdbcType=VARCHAR},
      CREDIT_STATUS = #{creditStatus,jdbcType=VARCHAR},
      CREDIT_APPORT = #{creditApport,jdbcType=DECIMAL},
      CREDIT_ABROAD = #{creditAbroad,jdbcType=DECIMAL},
      CREDIT_ONE_REPAY = #{creditOneRepay,jdbcType=DECIMAL},
      CREDIT_TWO_REPAY = #{creditTwoRepay,jdbcType=DECIMAL},
      CREDIT_TWO_OTHER_REPAY = #{creditTwoOtherRepay,jdbcType=DECIMAL},
      CREDIT_LOAN = #{creditLoan,jdbcType=DECIMAL},
      CREDIT_OTHER_AMOUNT = #{creditOtherAmount,jdbcType=DECIMAL},
      INNER_CRET = #{innerCret,jdbcType=VARCHAR},
      DEFER_ASSETS = #{deferAssets,jdbcType=DECIMAL},
      WAIT_ASSETS = #{waitAssets,jdbcType=DECIMAL},
      GOODS_STOCK = #{goodsStock,jdbcType=DECIMAL},
      CREDIT_TWO_PAYABLE = #{creditTwoPayable,jdbcType=DECIMAL},
      LAST_YEAR_AMOUNT = #{lastYearAmount,jdbcType=DECIMAL},
      OUTER_ASSETS = #{outerAssets,jdbcType=DECIMAL},
      FIXED_ASSETS = #{fixedAssets,jdbcType=DECIMAL},
      INVISIBLE_ASSETS = #{invisibleAssets,jdbcType=DECIMAL},
      PRINT_MODEL = #{printModel,jdbcType=VARCHAR}
    where LIMIT_ID = #{limitId,jdbcType=VARCHAR}
  </update>
</mapper>