<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.securitymanagement.mapper.GrtStockRightAssetsMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.securitymanagement.bean.GrtStockRightAssets">
    <id column="GUARANTY_ID" jdbcType="VARCHAR" property="guarantyId" />
    <result column="ACCRUAL_TYPE" jdbcType="VARCHAR" property="accrualType" />
    <result column="INVEST_TYPE" jdbcType="VARCHAR" property="investType" />
    <result column="INTO_MARKET_DATE" jdbcType="TIMESTAMP" property="intoMarketDate" />
    <result column="STOCK_CODE" jdbcType="VARCHAR" property="stockCode" />
    <result column="TRUSTEESHIP" jdbcType="VARCHAR" property="trusteeship" />
    <result column="STOCK_DISTINCTION_TYPE" jdbcType="VARCHAR" property="stockDistinctionType" />
    <result column="STOCK_NAME" jdbcType="VARCHAR" property="stockName" />
  </resultMap>
  <sql id="Base_Column_List">
    GUARANTY_ID, ACCRUAL_TYPE, INVEST_TYPE, INTO_MARKET_DATE, STOCK_CODE, TRUSTEESHIP, 
    STOCK_DISTINCTION_TYPE, STOCK_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_GRT_STOCK_RIGHT_ASSETS
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_GRT_STOCK_RIGHT_ASSETS
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockRightAssets">
    insert into TB_GRT_STOCK_RIGHT_ASSETS (GUARANTY_ID, ACCRUAL_TYPE, INVEST_TYPE, 
      INTO_MARKET_DATE, STOCK_CODE, TRUSTEESHIP, 
      STOCK_DISTINCTION_TYPE, STOCK_NAME)
    values (#{guarantyId,jdbcType=VARCHAR}, #{accrualType,jdbcType=VARCHAR}, #{investType,jdbcType=VARCHAR}, 
      #{intoMarketDate,jdbcType=TIMESTAMP}, #{stockCode,jdbcType=VARCHAR}, #{trusteeship,jdbcType=VARCHAR}, 
      #{stockDistinctionType,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockRightAssets">
    insert into TB_GRT_STOCK_RIGHT_ASSETS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        GUARANTY_ID,
      </if>
      <if test="accrualType != null">
        ACCRUAL_TYPE,
      </if>
      <if test="investType != null">
        INVEST_TYPE,
      </if>
      <if test="intoMarketDate != null">
        INTO_MARKET_DATE,
      </if>
      <if test="stockCode != null">
        STOCK_CODE,
      </if>
      <if test="trusteeship != null">
        TRUSTEESHIP,
      </if>
      <if test="stockDistinctionType != null">
        STOCK_DISTINCTION_TYPE,
      </if>
      <if test="stockName != null">
        STOCK_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        #{guarantyId,jdbcType=VARCHAR},
      </if>
      <if test="accrualType != null">
        #{accrualType,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        #{investType,jdbcType=VARCHAR},
      </if>
      <if test="intoMarketDate != null">
        #{intoMarketDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="trusteeship != null">
        #{trusteeship,jdbcType=VARCHAR},
      </if>
      <if test="stockDistinctionType != null">
        #{stockDistinctionType,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockRightAssets">
    update TB_GRT_STOCK_RIGHT_ASSETS
    <set>
      <if test="accrualType != null">
        ACCRUAL_TYPE = #{accrualType,jdbcType=VARCHAR},
      </if>
      <if test="investType != null">
        INVEST_TYPE = #{investType,jdbcType=VARCHAR},
      </if>
      <if test="intoMarketDate != null">
        INTO_MARKET_DATE = #{intoMarketDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockCode != null">
        STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="trusteeship != null">
        TRUSTEESHIP = #{trusteeship,jdbcType=VARCHAR},
      </if>
      <if test="stockDistinctionType != null">
        STOCK_DISTINCTION_TYPE = #{stockDistinctionType,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        STOCK_NAME = #{stockName,jdbcType=VARCHAR},
      </if>
    </set>
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockRightAssets">
    update TB_GRT_STOCK_RIGHT_ASSETS
    set ACCRUAL_TYPE = #{accrualType,jdbcType=VARCHAR},
      INVEST_TYPE = #{investType,jdbcType=VARCHAR},
      INTO_MARKET_DATE = #{intoMarketDate,jdbcType=TIMESTAMP},
      STOCK_CODE = #{stockCode,jdbcType=VARCHAR},
      TRUSTEESHIP = #{trusteeship,jdbcType=VARCHAR},
      STOCK_DISTINCTION_TYPE = #{stockDistinctionType,jdbcType=VARCHAR},
      STOCK_NAME = #{stockName,jdbcType=VARCHAR}
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
</mapper>