<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.product.mapper.TbSysProductMapper">
  
  
  <resultMap  id="tbSysProduct" type="com.cdgit.loan.product.bean.TbSysProduct">
        <result column="PRODUCT_CD" javaType="string" property="productCd"/>
        <result column="PRODUCT_ID" javaType="string" property="productId"/>
        <result column="PRODUCT_NAME" javaType="string" property="productName"/>
        <result column="SUPERIOR_ID" javaType="string" property="superiorId"/>
        <result column="PRODUCT_DEPARTMENT" javaType="string" property="department" />
        <result column="YWLB" javaType="string" property="ywlb" />
        <result column="LEG_ORG" javaType="string" property="legOrg" />
        <result column="PRODUCT_LEVEL" javaType="string" property="productLevel"/>
    </resultMap>
  
  <resultMap  id="orgRoleResult" type="com.cdgit.loan.sysManage.acRole.bean.AcRole">
        <result column="ROLEID" javaType="string" property="roleid" />
        <result column="ROLENAME" javaType="string" property="rolename"/>
    </resultMap>
  
  <select id="queryPartyRole" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		
		  select r.roleid,r.rolename,'1' as exist 
		  from 
		  OM_PARTYROLE pr,
		  ac_role r 
		  where pr.roleid=r.roleid 
		  and pr.partytype= #{partytype} 
		  and pr.partyid=#{partyid}
      	
      	  union all
      	  
      	  SELECT A.ROLEID, A.ROLENAME,'0' as exist
			  FROM AC_ROLE A
			 WHERE A.ROLEID NOT IN (SELECT B.ROLEID
			                          FROM OM_PARTYROLE B
			                         WHERE B.PARTYTYPE = #{partytype}
			                           AND B.PARTYID = #{partyid})
			                           
		<if test="leg_org != null and leg_org !='' ">
			and A.leg_org=#{leg_org}
		</if>
      	
    </select>
  
	<select id="queryPartyRole1" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		  select r.roleid,r.rolename 
		  from 
		  OM_PARTYROLE pr,
		  ac_role r 
		  where pr.roleid=r.roleid 
		  and pr.partytype= #{partytype}
		  and pr.partyid=#{partyid}
    </select>
  
  
  <select id="orgRoleAllowAdd" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		  SELECT A.ROLEID, A.ROLENAME
			  FROM AC_ROLE A
			 WHERE A.ROLEID NOT IN (SELECT B.ROLEID
			                          FROM OM_PARTYROLE B
			                         WHERE B.PARTYTYPE = #{partytype}
			                           AND B.PARTYID = #{partyid})
			                           
	<if test="legorg != null and legorg !='' ">
			and A.leg_org=#{legorg}
	</if>	                           
      
    </select>
  
  <!--查询带有权限控的产品树  移植业务申请 新增产品树选择 2018-12-25 -->
    <select id="queryProductByAuth" parameterType="java.util.HashMap" resultMap="tbSysProduct">
    select * from(
    with sup_pros as
		 (select *
		    from tb_sys_product t
		    <if test="productCd != null and productCd !='' ">
		     start with t.product_cd = #{productCd}
		    </if>
		  connect by prior t.product_cd = t.superior_id)
		select sp.product_id,
		       sp.product_cd,
		       sp.product_name,
		       sp.product_level,
		       sp.discount_ind,
		       sp.superior_id,
		       sp.product_type,
		       sp.product_department,
		       sp.leg_org,
		       sp.sort_no,
		       sp.ywlb
		  from tb_sys_product sp
		  <if test=" productCd != null and productCd !='' ">
			   where sp.product_id = #{productCd}
		  </if>
		union
		select s.product_id,
		       s.product_cd,
		       s.product_name,
		       s.product_level,
		       s.discount_ind,
		       s.superior_id,
		       s.product_type,
		       s.product_department,
		       s.leg_org,
		       s.sort_no,
		       s.ywlb
		  from sup_pros s
		 where s.discount_ind = '1' and exists(
		
		 with sup_orgs as (select *
		                     from OM_ORGANIZATION o
		                    start with o.orgcode = #{orgcode}
		                   connect by prior o.parentorgid = o.orgid)
		  select pr.product_id
		    from tb_sys_operate_authorization oa,
		   tb_sys_product_operate_rela  pr
		   where oa.org_operate_authorization_id =
		         pr.org_operate_authorization_id
		     and oa.is_used = '1'
		     
		      <if test=" roleId != null and roleId !='' ">
			  and oa.role_id=#{roleId}
		  </if>
		     
		     and oa.auth_org_num in (select orgcode from sup_orgs)
		     and s.product_id = pr.product_id)
    ) WHERE 1=1
    
    
    <if test=" superadmin != null and superadmin !='' ">
			  AND (leg_org=#{legorg} or leg_org is null)
		  </if>
    
    <if test=" searchMode != null and searchMode !='' ">
    	<if test="searchMode == 'crd00' "> 
              and product_level != '3' 
     	</if>
	AND PRODUCT_CD NOT IN ('01006','01013','01013010','01013001')
	</if>
   
    order by sort_no
    </select>
  
</mapper>