<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scim.loan.dao.TbIrmInternalRatingApplyMapper">
  <resultMap id="BaseResultMap" type="scim.loan.domain.TbIrmInternalRatingApply">
    <id column="IRA_APPLY_ID" jdbcType="VARCHAR" property="iraApplyId" />
    <result column="RATING_MODEL_CD" jdbcType="VARCHAR" property="ratingModelCd" />
    <result column="RATING_MODEL_VER" jdbcType="VARCHAR" property="ratingModelVer" />
    <result column="RATING_STATE" jdbcType="VARCHAR" property="ratingState" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="APPLY_DATE" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="APPLY_NATURE_CD" jdbcType="VARCHAR" property="applyNatureCd" />
    <result column="TRIGGER_TYPE_CD" jdbcType="VARCHAR" property="triggerTypeCd" />
    <result column="ORG_NUM" jdbcType="VARCHAR" property="orgNum" />
    <result column="USER_NUM" jdbcType="VARCHAR" property="userNum" />
    <result column="ORIGINAL_IRA_APPLY_ID" jdbcType="VARCHAR" property="originalIraApplyId" />
    <result column="IS_AUDIT" jdbcType="VARCHAR" property="isAudit" />
    <result column="ALLOW_TIMES" jdbcType="DECIMAL" property="allowTimes" />
    <result column="IS_GOVERNMENT_PLATFORM" jdbcType="VARCHAR" property="isGovernmentPlatform" />
    <result column="GP_MODEL_VER" jdbcType="VARCHAR" property="gpModelVer" />
    <result column="ALLOW_MODIFY_FLAG" jdbcType="VARCHAR" property="allowModifyFlag" />
    <result column="GOVERNMENT_ADJUST_RATING_CD" jdbcType="VARCHAR" property="governmentAdjustRatingCd" />
    <result column="GENERAL_ADJUST_RATING_CD" jdbcType="VARCHAR" property="generalAdjustRatingCd" />
    <result column="RATING_TYPE" jdbcType="VARCHAR" property="ratingType" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
  </resultMap>
  <sql id="Base_Column_List">
    IRA_APPLY_ID, RATING_MODEL_CD, RATING_MODEL_VER, RATING_STATE, PROJECT_ID, APPLY_DATE, 
    APPLY_NATURE_CD, TRIGGER_TYPE_CD, ORG_NUM, USER_NUM, ORIGINAL_IRA_APPLY_ID, IS_AUDIT, 
    ALLOW_TIMES, IS_GOVERNMENT_PLATFORM, GP_MODEL_VER, ALLOW_MODIFY_FLAG, GOVERNMENT_ADJUST_RATING_CD, 
    GENERAL_ADJUST_RATING_CD, RATING_TYPE, PARTY_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRMS.TB_IRM_INTERNAL_RATING_APPLY
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_IRM_INTERNAL_RATING_APPLY
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    insert into CRMS.TB_IRM_INTERNAL_RATING_APPLY (IRA_APPLY_ID, RATING_MODEL_CD, RATING_MODEL_VER, 
      RATING_STATE, PROJECT_ID, APPLY_DATE, 
      APPLY_NATURE_CD, TRIGGER_TYPE_CD, ORG_NUM, 
      USER_NUM, ORIGINAL_IRA_APPLY_ID, IS_AUDIT, 
      ALLOW_TIMES, IS_GOVERNMENT_PLATFORM, GP_MODEL_VER, 
      ALLOW_MODIFY_FLAG, GOVERNMENT_ADJUST_RATING_CD, 
      GENERAL_ADJUST_RATING_CD, RATING_TYPE, PARTY_ID
      )
    values (#{iraApplyId,jdbcType=VARCHAR}, #{ratingModelCd,jdbcType=VARCHAR}, #{ratingModelVer,jdbcType=VARCHAR}, 
      #{ratingState,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{applyNatureCd,jdbcType=VARCHAR}, #{triggerTypeCd,jdbcType=VARCHAR}, #{orgNum,jdbcType=VARCHAR}, 
      #{userNum,jdbcType=VARCHAR}, #{originalIraApplyId,jdbcType=VARCHAR}, #{isAudit,jdbcType=VARCHAR}, 
      #{allowTimes,jdbcType=DECIMAL}, #{isGovernmentPlatform,jdbcType=VARCHAR}, #{gpModelVer,jdbcType=VARCHAR}, 
      #{allowModifyFlag,jdbcType=VARCHAR}, #{governmentAdjustRatingCd,jdbcType=VARCHAR}, 
      #{generalAdjustRatingCd,jdbcType=VARCHAR}, #{ratingType,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    insert into CRMS.TB_IRM_INTERNAL_RATING_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iraApplyId != null">
        IRA_APPLY_ID,
      </if>
      <if test="ratingModelCd != null">
        RATING_MODEL_CD,
      </if>
      <if test="ratingModelVer != null">
        RATING_MODEL_VER,
      </if>
      <if test="ratingState != null">
        RATING_STATE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="applyNatureCd != null">
        APPLY_NATURE_CD,
      </if>
      <if test="triggerTypeCd != null">
        TRIGGER_TYPE_CD,
      </if>
      <if test="orgNum != null">
        ORG_NUM,
      </if>
      <if test="userNum != null">
        USER_NUM,
      </if>
      <if test="originalIraApplyId != null">
        ORIGINAL_IRA_APPLY_ID,
      </if>
      <if test="isAudit != null">
        IS_AUDIT,
      </if>
      <if test="allowTimes != null">
        ALLOW_TIMES,
      </if>
      <if test="isGovernmentPlatform != null">
        IS_GOVERNMENT_PLATFORM,
      </if>
      <if test="gpModelVer != null">
        GP_MODEL_VER,
      </if>
      <if test="allowModifyFlag != null">
        ALLOW_MODIFY_FLAG,
      </if>
      <if test="governmentAdjustRatingCd != null">
        GOVERNMENT_ADJUST_RATING_CD,
      </if>
      <if test="generalAdjustRatingCd != null">
        GENERAL_ADJUST_RATING_CD,
      </if>
      <if test="ratingType != null">
        RATING_TYPE,
      </if>
      <if test="partyId != null">
        PARTY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iraApplyId != null">
        #{iraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelCd != null">
        #{ratingModelCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelVer != null">
        #{ratingModelVer,jdbcType=VARCHAR},
      </if>
      <if test="ratingState != null">
        #{ratingState,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNatureCd != null">
        #{applyNatureCd,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeCd != null">
        #{triggerTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null">
        #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="originalIraApplyId != null">
        #{originalIraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="allowTimes != null">
        #{allowTimes,jdbcType=DECIMAL},
      </if>
      <if test="isGovernmentPlatform != null">
        #{isGovernmentPlatform,jdbcType=VARCHAR},
      </if>
      <if test="gpModelVer != null">
        #{gpModelVer,jdbcType=VARCHAR},
      </if>
      <if test="allowModifyFlag != null">
        #{allowModifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="governmentAdjustRatingCd != null">
        #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="generalAdjustRatingCd != null">
        #{generalAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingType != null">
        #{ratingType,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    update CRMS.TB_IRM_INTERNAL_RATING_APPLY
    <set>
      <if test="ratingModelCd != null">
        RATING_MODEL_CD = #{ratingModelCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelVer != null">
        RATING_MODEL_VER = #{ratingModelVer,jdbcType=VARCHAR},
      </if>
      <if test="ratingState != null">
        RATING_STATE = #{ratingState,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNatureCd != null">
        APPLY_NATURE_CD = #{applyNatureCd,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeCd != null">
        TRIGGER_TYPE_CD = #{triggerTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null">
        ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        USER_NUM = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="originalIraApplyId != null">
        ORIGINAL_IRA_APPLY_ID = #{originalIraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        IS_AUDIT = #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="allowTimes != null">
        ALLOW_TIMES = #{allowTimes,jdbcType=DECIMAL},
      </if>
      <if test="isGovernmentPlatform != null">
        IS_GOVERNMENT_PLATFORM = #{isGovernmentPlatform,jdbcType=VARCHAR},
      </if>
      <if test="gpModelVer != null">
        GP_MODEL_VER = #{gpModelVer,jdbcType=VARCHAR},
      </if>
      <if test="allowModifyFlag != null">
        ALLOW_MODIFY_FLAG = #{allowModifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="governmentAdjustRatingCd != null">
        GOVERNMENT_ADJUST_RATING_CD = #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="generalAdjustRatingCd != null">
        GENERAL_ADJUST_RATING_CD = #{generalAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingType != null">
        RATING_TYPE = #{ratingType,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
    </set>
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    update CRMS.TB_IRM_INTERNAL_RATING_APPLY
    set RATING_MODEL_CD = #{ratingModelCd,jdbcType=VARCHAR},
      RATING_MODEL_VER = #{ratingModelVer,jdbcType=VARCHAR},
      RATING_STATE = #{ratingState,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      APPLY_NATURE_CD = #{applyNatureCd,jdbcType=VARCHAR},
      TRIGGER_TYPE_CD = #{triggerTypeCd,jdbcType=VARCHAR},
      ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      USER_NUM = #{userNum,jdbcType=VARCHAR},
      ORIGINAL_IRA_APPLY_ID = #{originalIraApplyId,jdbcType=VARCHAR},
      IS_AUDIT = #{isAudit,jdbcType=VARCHAR},
      ALLOW_TIMES = #{allowTimes,jdbcType=DECIMAL},
      IS_GOVERNMENT_PLATFORM = #{isGovernmentPlatform,jdbcType=VARCHAR},
      GP_MODEL_VER = #{gpModelVer,jdbcType=VARCHAR},
      ALLOW_MODIFY_FLAG = #{allowModifyFlag,jdbcType=VARCHAR},
      GOVERNMENT_ADJUST_RATING_CD = #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      GENERAL_ADJUST_RATING_CD = #{generalAdjustRatingCd,jdbcType=VARCHAR},
      RATING_TYPE = #{ratingType,jdbcType=VARCHAR},
      PARTY_ID = #{partyId,jdbcType=VARCHAR}
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="scim.loan.domain.TbIrmInternalRatingApply">
    <id column="IRA_APPLY_ID" jdbcType="VARCHAR" property="iraApplyId" />
    <result column="RATING_MODEL_CD" jdbcType="VARCHAR" property="ratingModelCd" />
    <result column="RATING_MODEL_VER" jdbcType="VARCHAR" property="ratingModelVer" />
    <result column="RATING_STATE" jdbcType="VARCHAR" property="ratingState" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="APPLY_DATE" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="APPLY_NATURE_CD" jdbcType="VARCHAR" property="applyNatureCd" />
    <result column="TRIGGER_TYPE_CD" jdbcType="VARCHAR" property="triggerTypeCd" />
    <result column="ORG_NUM" jdbcType="VARCHAR" property="orgNum" />
    <result column="USER_NUM" jdbcType="VARCHAR" property="userNum" />
    <result column="ORIGINAL_IRA_APPLY_ID" jdbcType="VARCHAR" property="originalIraApplyId" />
    <result column="IS_AUDIT" jdbcType="VARCHAR" property="isAudit" />
    <result column="ALLOW_TIMES" jdbcType="DECIMAL" property="allowTimes" />
    <result column="IS_GOVERNMENT_PLATFORM" jdbcType="VARCHAR" property="isGovernmentPlatform" />
    <result column="GP_MODEL_VER" jdbcType="VARCHAR" property="gpModelVer" />
    <result column="ALLOW_MODIFY_FLAG" jdbcType="VARCHAR" property="allowModifyFlag" />
    <result column="GOVERNMENT_ADJUST_RATING_CD" jdbcType="VARCHAR" property="governmentAdjustRatingCd" />
    <result column="GENERAL_ADJUST_RATING_CD" jdbcType="VARCHAR" property="generalAdjustRatingCd" />
    <result column="RATING_TYPE" jdbcType="VARCHAR" property="ratingType" />
    <result column="PARTY_ID" jdbcType="VARCHAR" property="partyId" />
  </resultMap>
  <sql id="Base_Column_List">
    IRA_APPLY_ID, RATING_MODEL_CD, RATING_MODEL_VER, RATING_STATE, PROJECT_ID, APPLY_DATE, 
    APPLY_NATURE_CD, TRIGGER_TYPE_CD, ORG_NUM, USER_NUM, ORIGINAL_IRA_APPLY_ID, IS_AUDIT, 
    ALLOW_TIMES, IS_GOVERNMENT_PLATFORM, GP_MODEL_VER, ALLOW_MODIFY_FLAG, GOVERNMENT_ADJUST_RATING_CD, 
    GENERAL_ADJUST_RATING_CD, RATING_TYPE, PARTY_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRMS.TB_IRM_INTERNAL_RATING_APPLY
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_IRM_INTERNAL_RATING_APPLY
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    insert into CRMS.TB_IRM_INTERNAL_RATING_APPLY (IRA_APPLY_ID, RATING_MODEL_CD, RATING_MODEL_VER, 
      RATING_STATE, PROJECT_ID, APPLY_DATE, 
      APPLY_NATURE_CD, TRIGGER_TYPE_CD, ORG_NUM, 
      USER_NUM, ORIGINAL_IRA_APPLY_ID, IS_AUDIT, 
      ALLOW_TIMES, IS_GOVERNMENT_PLATFORM, GP_MODEL_VER, 
      ALLOW_MODIFY_FLAG, GOVERNMENT_ADJUST_RATING_CD, 
      GENERAL_ADJUST_RATING_CD, RATING_TYPE, PARTY_ID
      )
    values (#{iraApplyId,jdbcType=VARCHAR}, #{ratingModelCd,jdbcType=VARCHAR}, #{ratingModelVer,jdbcType=VARCHAR}, 
      #{ratingState,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{applyNatureCd,jdbcType=VARCHAR}, #{triggerTypeCd,jdbcType=VARCHAR}, #{orgNum,jdbcType=VARCHAR}, 
      #{userNum,jdbcType=VARCHAR}, #{originalIraApplyId,jdbcType=VARCHAR}, #{isAudit,jdbcType=VARCHAR}, 
      #{allowTimes,jdbcType=DECIMAL}, #{isGovernmentPlatform,jdbcType=VARCHAR}, #{gpModelVer,jdbcType=VARCHAR}, 
      #{allowModifyFlag,jdbcType=VARCHAR}, #{governmentAdjustRatingCd,jdbcType=VARCHAR}, 
      #{generalAdjustRatingCd,jdbcType=VARCHAR}, #{ratingType,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    insert into CRMS.TB_IRM_INTERNAL_RATING_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iraApplyId != null">
        IRA_APPLY_ID,
      </if>
      <if test="ratingModelCd != null">
        RATING_MODEL_CD,
      </if>
      <if test="ratingModelVer != null">
        RATING_MODEL_VER,
      </if>
      <if test="ratingState != null">
        RATING_STATE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="applyNatureCd != null">
        APPLY_NATURE_CD,
      </if>
      <if test="triggerTypeCd != null">
        TRIGGER_TYPE_CD,
      </if>
      <if test="orgNum != null">
        ORG_NUM,
      </if>
      <if test="userNum != null">
        USER_NUM,
      </if>
      <if test="originalIraApplyId != null">
        ORIGINAL_IRA_APPLY_ID,
      </if>
      <if test="isAudit != null">
        IS_AUDIT,
      </if>
      <if test="allowTimes != null">
        ALLOW_TIMES,
      </if>
      <if test="isGovernmentPlatform != null">
        IS_GOVERNMENT_PLATFORM,
      </if>
      <if test="gpModelVer != null">
        GP_MODEL_VER,
      </if>
      <if test="allowModifyFlag != null">
        ALLOW_MODIFY_FLAG,
      </if>
      <if test="governmentAdjustRatingCd != null">
        GOVERNMENT_ADJUST_RATING_CD,
      </if>
      <if test="generalAdjustRatingCd != null">
        GENERAL_ADJUST_RATING_CD,
      </if>
      <if test="ratingType != null">
        RATING_TYPE,
      </if>
      <if test="partyId != null">
        PARTY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iraApplyId != null">
        #{iraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelCd != null">
        #{ratingModelCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelVer != null">
        #{ratingModelVer,jdbcType=VARCHAR},
      </if>
      <if test="ratingState != null">
        #{ratingState,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNatureCd != null">
        #{applyNatureCd,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeCd != null">
        #{triggerTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null">
        #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="originalIraApplyId != null">
        #{originalIraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="allowTimes != null">
        #{allowTimes,jdbcType=DECIMAL},
      </if>
      <if test="isGovernmentPlatform != null">
        #{isGovernmentPlatform,jdbcType=VARCHAR},
      </if>
      <if test="gpModelVer != null">
        #{gpModelVer,jdbcType=VARCHAR},
      </if>
      <if test="allowModifyFlag != null">
        #{allowModifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="governmentAdjustRatingCd != null">
        #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="generalAdjustRatingCd != null">
        #{generalAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingType != null">
        #{ratingType,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    update CRMS.TB_IRM_INTERNAL_RATING_APPLY
    <set>
      <if test="ratingModelCd != null">
        RATING_MODEL_CD = #{ratingModelCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingModelVer != null">
        RATING_MODEL_VER = #{ratingModelVer,jdbcType=VARCHAR},
      </if>
      <if test="ratingState != null">
        RATING_STATE = #{ratingState,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNatureCd != null">
        APPLY_NATURE_CD = #{applyNatureCd,jdbcType=VARCHAR},
      </if>
      <if test="triggerTypeCd != null">
        TRIGGER_TYPE_CD = #{triggerTypeCd,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null">
        ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      </if>
      <if test="userNum != null">
        USER_NUM = #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="originalIraApplyId != null">
        ORIGINAL_IRA_APPLY_ID = #{originalIraApplyId,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        IS_AUDIT = #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="allowTimes != null">
        ALLOW_TIMES = #{allowTimes,jdbcType=DECIMAL},
      </if>
      <if test="isGovernmentPlatform != null">
        IS_GOVERNMENT_PLATFORM = #{isGovernmentPlatform,jdbcType=VARCHAR},
      </if>
      <if test="gpModelVer != null">
        GP_MODEL_VER = #{gpModelVer,jdbcType=VARCHAR},
      </if>
      <if test="allowModifyFlag != null">
        ALLOW_MODIFY_FLAG = #{allowModifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="governmentAdjustRatingCd != null">
        GOVERNMENT_ADJUST_RATING_CD = #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="generalAdjustRatingCd != null">
        GENERAL_ADJUST_RATING_CD = #{generalAdjustRatingCd,jdbcType=VARCHAR},
      </if>
      <if test="ratingType != null">
        RATING_TYPE = #{ratingType,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        PARTY_ID = #{partyId,jdbcType=VARCHAR},
      </if>
    </set>
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="scim.loan.domain.TbIrmInternalRatingApply">
    update CRMS.TB_IRM_INTERNAL_RATING_APPLY
    set RATING_MODEL_CD = #{ratingModelCd,jdbcType=VARCHAR},
      RATING_MODEL_VER = #{ratingModelVer,jdbcType=VARCHAR},
      RATING_STATE = #{ratingState,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      APPLY_NATURE_CD = #{applyNatureCd,jdbcType=VARCHAR},
      TRIGGER_TYPE_CD = #{triggerTypeCd,jdbcType=VARCHAR},
      ORG_NUM = #{orgNum,jdbcType=VARCHAR},
      USER_NUM = #{userNum,jdbcType=VARCHAR},
      ORIGINAL_IRA_APPLY_ID = #{originalIraApplyId,jdbcType=VARCHAR},
      IS_AUDIT = #{isAudit,jdbcType=VARCHAR},
      ALLOW_TIMES = #{allowTimes,jdbcType=DECIMAL},
      IS_GOVERNMENT_PLATFORM = #{isGovernmentPlatform,jdbcType=VARCHAR},
      GP_MODEL_VER = #{gpModelVer,jdbcType=VARCHAR},
      ALLOW_MODIFY_FLAG = #{allowModifyFlag,jdbcType=VARCHAR},
      GOVERNMENT_ADJUST_RATING_CD = #{governmentAdjustRatingCd,jdbcType=VARCHAR},
      GENERAL_ADJUST_RATING_CD = #{generalAdjustRatingCd,jdbcType=VARCHAR},
      RATING_TYPE = #{ratingType,jdbcType=VARCHAR},
      PARTY_ID = #{partyId,jdbcType=VARCHAR}
    where IRA_APPLY_ID = #{iraApplyId,jdbcType=VARCHAR}
  </update>
</mapper>