<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.csm.mapper.CsmTbConJkdsyhPoMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.csm.po.CsmTbConJkdsyhPo">
    <id column="APPLY_DETAIL_ID" jdbcType="VARCHAR" property="applyDetailId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AMOUNT_DETAIL_ID" jdbcType="VARCHAR" property="amountDetailId" />
    <result column="JYQ" jdbcType="VARCHAR" property="jyq" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="RZZH" jdbcType="VARCHAR" property="rzzh" />
    <result column="YWHM" jdbcType="VARCHAR" property="ywhm" />
    <result column="FPH" jdbcType="VARCHAR" property="fph" />
    <result column="YWBH" jdbcType="VARCHAR" property="ywbh" />
    <result column="DKLL" jdbcType="DECIMAL" property="dkll" />
  </resultMap>
  <sql id="Base_Column_List">
    APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, AMOUNT_DETAIL_ID, JYQ, CONTRACT_ID, RZZH, 
    YWHM, FPH, YWBH, DKLL
  </sql>
  
    <select id="queryByConInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_CON_JKDSYH
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from CRMS.TB_CON_JKDSYH
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRMS.TB_CON_JKDSYH
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.csm.po.CsmTbConJkdsyhPo">
    insert into CRMS.TB_CON_JKDSYH (APPLY_DETAIL_ID, CREATE_TIME, UPDATE_TIME, 
      AMOUNT_DETAIL_ID, JYQ, CONTRACT_ID, 
      RZZH, YWHM, FPH, YWBH, 
      DKLL)
    values (#{applyDetailId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{amountDetailId,jdbcType=VARCHAR}, #{jyq,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, 
      #{rzzh,jdbcType=VARCHAR}, #{ywhm,jdbcType=VARCHAR}, #{fph,jdbcType=VARCHAR}, #{ywbh,jdbcType=VARCHAR}, 
      #{dkll,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.csm.po.CsmTbConJkdsyhPo">
    insert into CRMS.TB_CON_JKDSYH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        APPLY_DETAIL_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID,
      </if>
      <if test="jyq != null">
        JYQ,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="rzzh != null">
        RZZH,
      </if>
      <if test="ywhm != null">
        YWHM,
      </if>
      <if test="fph != null">
        FPH,
      </if>
      <if test="ywbh != null">
        YWBH,
      </if>
      <if test="dkll != null">
        DKLL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyDetailId != null">
        #{applyDetailId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="jyq != null">
        #{jyq,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="rzzh != null">
        #{rzzh,jdbcType=VARCHAR},
      </if>
      <if test="ywhm != null">
        #{ywhm,jdbcType=VARCHAR},
      </if>
      <if test="fph != null">
        #{fph,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null">
        #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkll != null">
        #{dkll,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.csm.po.CsmTbConJkdsyhPo">
    update CRMS.TB_CON_JKDSYH
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountDetailId != null">
        AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      </if>
      <if test="jyq != null">
        JYQ = #{jyq,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="rzzh != null">
        RZZH = #{rzzh,jdbcType=VARCHAR},
      </if>
      <if test="ywhm != null">
        YWHM = #{ywhm,jdbcType=VARCHAR},
      </if>
      <if test="fph != null">
        FPH = #{fph,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null">
        YWBH = #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkll != null">
        DKLL = #{dkll,jdbcType=DECIMAL},
      </if>
    </set>
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.csm.po.CsmTbConJkdsyhPo">
    update CRMS.TB_CON_JKDSYH
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      AMOUNT_DETAIL_ID = #{amountDetailId,jdbcType=VARCHAR},
      JYQ = #{jyq,jdbcType=VARCHAR},
      CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      RZZH = #{rzzh,jdbcType=VARCHAR},
      YWHM = #{ywhm,jdbcType=VARCHAR},
      FPH = #{fph,jdbcType=VARCHAR},
      YWBH = #{ywbh,jdbcType=VARCHAR},
      DKLL = #{dkll,jdbcType=DECIMAL}
    where APPLY_DETAIL_ID = #{applyDetailId,jdbcType=VARCHAR}
  </update>
</mapper>