<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgit.loan.securitymanagement.mapper.GrtStockWarrantAssetsMapper">
  <resultMap id="BaseResultMap" type="com.cdgit.loan.securitymanagement.bean.GrtStockWarrantAssets">
    <id column="GUARANTY_ID" jdbcType="VARCHAR" property="guarantyId" />
    <result column="STOCK_NATURE" jdbcType="VARCHAR" property="stockNature" />
    <result column="CONTROL_COUNT" jdbcType="DECIMAL" property="controlCount" />
    <result column="CONTROLED_COMPANY_NAME" jdbcType="VARCHAR" property="controledCompanyName" />
    <result column="CONTROLED_COMPANY_TYPE" jdbcType="VARCHAR" property="controledCompanyType" />
    <result column="CONTROLED_COMPANY_STATUS" jdbcType="VARCHAR" property="controledCompanyStatus" />
    <result column="STOCK_RIGHT_NAME" jdbcType="VARCHAR" property="stockRightName" />
    <result column="STOCK_EQUITY_NOTICE_NUM" jdbcType="VARCHAR" property="stockEquityNoticeNum" />
    <result column="COMPANY_HOLD_BIZ" jdbcType="VARCHAR" property="companyHoldBiz" />
  </resultMap>
  <sql id="Base_Column_List">
    GUARANTY_ID, STOCK_NATURE, CONTROL_COUNT, CONTROLED_COMPANY_NAME, CONTROLED_COMPANY_TYPE, 
    CONTROLED_COMPANY_STATUS, STOCK_RIGHT_NAME, STOCK_EQUITY_NOTICE_NUM, COMPANY_HOLD_BIZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_GRT_STOCK_WARRANT_ASSETS
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_GRT_STOCK_WARRANT_ASSETS
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockWarrantAssets">
    insert into TB_GRT_STOCK_WARRANT_ASSETS (GUARANTY_ID, STOCK_NATURE, CONTROL_COUNT, 
      CONTROLED_COMPANY_NAME, CONTROLED_COMPANY_TYPE, 
      CONTROLED_COMPANY_STATUS, STOCK_RIGHT_NAME, 
      STOCK_EQUITY_NOTICE_NUM, COMPANY_HOLD_BIZ)
    values (#{guarantyId,jdbcType=VARCHAR}, #{stockNature,jdbcType=VARCHAR}, #{controlCount,jdbcType=DECIMAL}, 
      #{controledCompanyName,jdbcType=VARCHAR}, #{controledCompanyType,jdbcType=VARCHAR}, 
      #{controledCompanyStatus,jdbcType=VARCHAR}, #{stockRightName,jdbcType=VARCHAR}, 
      #{stockEquityNoticeNum,jdbcType=VARCHAR}, #{companyHoldBiz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockWarrantAssets">
    insert into TB_GRT_STOCK_WARRANT_ASSETS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        GUARANTY_ID,
      </if>
      <if test="stockNature != null">
        STOCK_NATURE,
      </if>
      <if test="controlCount != null">
        CONTROL_COUNT,
      </if>
      <if test="controledCompanyName != null">
        CONTROLED_COMPANY_NAME,
      </if>
      <if test="controledCompanyType != null">
        CONTROLED_COMPANY_TYPE,
      </if>
      <if test="controledCompanyStatus != null">
        CONTROLED_COMPANY_STATUS,
      </if>
      <if test="stockRightName != null">
        STOCK_RIGHT_NAME,
      </if>
      <if test="stockEquityNoticeNum != null">
        STOCK_EQUITY_NOTICE_NUM,
      </if>
      <if test="companyHoldBiz != null">
        COMPANY_HOLD_BIZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guarantyId != null">
        #{guarantyId,jdbcType=VARCHAR},
      </if>
      <if test="stockNature != null">
        #{stockNature,jdbcType=VARCHAR},
      </if>
      <if test="controlCount != null">
        #{controlCount,jdbcType=DECIMAL},
      </if>
      <if test="controledCompanyName != null">
        #{controledCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="controledCompanyType != null">
        #{controledCompanyType,jdbcType=VARCHAR},
      </if>
      <if test="controledCompanyStatus != null">
        #{controledCompanyStatus,jdbcType=VARCHAR},
      </if>
      <if test="stockRightName != null">
        #{stockRightName,jdbcType=VARCHAR},
      </if>
      <if test="stockEquityNoticeNum != null">
        #{stockEquityNoticeNum,jdbcType=VARCHAR},
      </if>
      <if test="companyHoldBiz != null">
        #{companyHoldBiz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockWarrantAssets">
    update TB_GRT_STOCK_WARRANT_ASSETS
    <set>
      <if test="stockNature != null">
        STOCK_NATURE = #{stockNature,jdbcType=VARCHAR},
      </if>
      <if test="controlCount != null">
        CONTROL_COUNT = #{controlCount,jdbcType=DECIMAL},
      </if>
      <if test="controledCompanyName != null">
        CONTROLED_COMPANY_NAME = #{controledCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="controledCompanyType != null">
        CONTROLED_COMPANY_TYPE = #{controledCompanyType,jdbcType=VARCHAR},
      </if>
      <if test="controledCompanyStatus != null">
        CONTROLED_COMPANY_STATUS = #{controledCompanyStatus,jdbcType=VARCHAR},
      </if>
      <if test="stockRightName != null">
        STOCK_RIGHT_NAME = #{stockRightName,jdbcType=VARCHAR},
      </if>
      <if test="stockEquityNoticeNum != null">
        STOCK_EQUITY_NOTICE_NUM = #{stockEquityNoticeNum,jdbcType=VARCHAR},
      </if>
      <if test="companyHoldBiz != null">
        COMPANY_HOLD_BIZ = #{companyHoldBiz,jdbcType=VARCHAR},
      </if>
    </set>
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdgit.loan.securitymanagement.bean.GrtStockWarrantAssets">
    update TB_GRT_STOCK_WARRANT_ASSETS
    set STOCK_NATURE = #{stockNature,jdbcType=VARCHAR},
      CONTROL_COUNT = #{controlCount,jdbcType=DECIMAL},
      CONTROLED_COMPANY_NAME = #{controledCompanyName,jdbcType=VARCHAR},
      CONTROLED_COMPANY_TYPE = #{controledCompanyType,jdbcType=VARCHAR},
      CONTROLED_COMPANY_STATUS = #{controledCompanyStatus,jdbcType=VARCHAR},
      STOCK_RIGHT_NAME = #{stockRightName,jdbcType=VARCHAR},
      STOCK_EQUITY_NOTICE_NUM = #{stockEquityNoticeNum,jdbcType=VARCHAR},
      COMPANY_HOLD_BIZ = #{companyHoldBiz,jdbcType=VARCHAR}
    where GUARANTY_ID = #{guarantyId,jdbcType=VARCHAR}
  </update>
</mapper>